{% extends "common/base.j2" %}
{% block body_content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("Applications provided by GNUnet") }}</h1>
      </div>
    </div>
    <div class="row">
            <div class="col-lg-6">
        <section>
        <h3>{{ _("The GNU Name System") }}</h3>
      <p>
        {% trans %}
          The <a href="gns.html">GNU Name System (GNS)</a>
          is a fully decentralized replacement
	  for the Domain Name System (DNS).  Instead of using a
	  hierarchy, GNS uses a directed graph.  Naming conventions
	  are similar to DNS, but queries and replies are private even
	  with respect to peers providing the answers.  The integrity of
	  records and privacy of look-ups is cryptographically secured.
	  <!-- Too technical: GNS integrates
	       a robust, efficient and instant key revocation mechanism. -->
        {% endtrans %}
      </p>
      </section>
      </div>
      <div class="col-lg-4">
        <center><img style="width: 14em" src="{{ url_static('images/gns-logo.png') }}"  alt="GNS" /></center>
      </div>

  </div>
  <hr/>
 <div class="row">
   <div class="col-lg-6">
      <section>
      <h3>{{ _("Self-sovereign, decentralized identity provider") }}</h3>
      <p>
        {% trans %}
        <a href="https://reclaim.gnunet.org/">re:claimID</a>
        is a decentralized Identity Provider (IdP) service built in top of the
        GNU Name System. It allows users to securely share personal information
        with websites using standardized protocols (OpenID Connect).
        {% endtrans %}
      </p>
      </section>
    </div>
    <div class="col-lg-4">
    <center><img style="width: 20em" src="{{ url_static('images/reclaim_logo.png') }}"  alt="re:claimID" /></center>
    </div>
  </div>
  <hr/>
  <div class="row">
      <div class="col-lg-6">
      <section>
      <h3>{{ _("Filesharing (Alpha)") }}</h3>
      <p>
        {% trans %}
        GNUnet <a href="use.html#fs">filesharing</a>
        is an application that aims to provide
        censorship-resistant, anonymous filesharing. The publisher is
	empowered to make a gradual choice between performance and anonymity.
        {% endtrans %}
      </p>
      </section>
      </div>
  </div>
  <hr/>
  <div class="row">
      <div class="col-lg-6">
      <section>
      <h3>{{ _("Conversation (Pre-Alpha)") }}</h3>
      <p>
        {% trans %}
	GNUnet conversation is an application that provides secure
        voice communication in a fully decentralized way by employing
        GNUnet for routing and transport.
        {% endtrans %}
      </p>
      </section>
      </div>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("Applications utilizing GNUnet") }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
      <section>
      <h3>{{ _("GNU Taler (Alpha)") }}</h3>
      <p>
        {% trans %}
        <a href="https://taler.net/">GNU Taler</a>
        is a new privacy-preserving electronic payment system.
        Payments are cryptographically
        secured and are confirmed within milliseconds with
        extremely low transaction costs.
        {% endtrans %}
      </p>
      </section>
    </div>
    <div class="col-lg-4">
    <center><img style="width: 20em" src="{{ url_static('images/logo-2018-dold.svg') }}"  alt="Taler" /></center>
    </div>

    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-6">
        <section>
        <h3>{{ _("secushare") }}</h3>
        <p>
          {% trans %}
          <a href="https://secushare.org/">secushare</a>
          is creating a decentralized social networking
          application on top of GNUnet.  Using overlay
          multicast and the extensible PSYC protocol, notifications are
          distributed end-to-end encrypted to authorized recipients only.
          {% endtrans %}
        </p>
        </section>
      </div>
    <div class="col-lg-4">
    <center><img style="width: 14em" src="{{ url_static('images/secushare-0444.png') }}"  alt="secushare" /></center>
    </div>

     </div>
     <hr/>
     <div class="row">
      <div class="col-lg-6">
        <section>
        <h3>{{ _("pretty Easy privacy") }}</h3>
        <p>
          {% trans %}
          <a href="https://pep.foundation/">pretty Easy privacy</a> (p&#8801;p)
          is creating a usable end-to-end encrypted e-mail solution using
          opportunistic key exchange.
          p&#8801;p will use GNUnet to protect metadata and exploit new
          cryptographic protocols to verify keys.
          {% endtrans %}
        </p>
        </section>
      </div>
    <div class="col-lg-4">
    <center><img style="width: 14em" src="{{ url_static('images/peplogo.svg') }}"  alt="pEp" /></center>
    </div>

      </div>
     <hr/>
     <div class="row">
      <div class="col-lg-6">
        <section>
        <h3>{{ _("Cadet-GTK") }}</h3>
        <p>
          {% trans %}
          <a href="https://gitlab.com/gnunet-messenger/cadet-gtk">Cadet-GTK</a>
          is a convenient but feature-rich graphical application
          providing messaging using especially the CADET subsystem. It is
          developed using GTK and libhandy for a convergent design.
          {% endtrans %}
        </p>
        </section>
      </div>
    <div class="col-lg-4">
    <center><img style="width: 8em" src="{{ url_static('images/cadet-gtk.svg') }}"  alt="cadet-gtk" /></center>
    </div>

      </div>
      <hr/>
      <div class="row">
      <div class="col-lg-6">
        <section>
        <h3>{{ _("groupchat") }}</h3>
        <p>
          {% trans %}
          <a href="https://git.gnunet.org/groupchat.git/">groupchat</a>
          is a terminal user interface providing messaging using especially the CADET subsystem. It is
          developed using nim. Cadet-GTK and groupchat are planned to be compatible.
          {% endtrans %}
        </p>
        </section>
      </div>
    <div class="col-lg-4">
    <center><img style="width: 14em" src="{{ url_static('images/groupchat.png') }}"  alt="groupchat" /></center>
    </div>

      </div>

    </div>
  </div>
</div>

{% endblock body_content %}
