{% extends "common/base.j2" %}
{% block body_content %}
  <article class="d-flex flex-column p-2 bd-highlight">
    <div class="container">
      <div class="text-center">
        <header>
          <h1>{{ _("Talk With Us") }}</h1>
        </header>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Join the conversation!</h2>
          <p>
            There are many ways to get engaged with GNUnet. A first step might be to join the conversation on the mailing lists and on our IRC channel to keep up with development, find technical help, and discuss GNUnet:
          </p>
          <h3>Mailing List</h3>
          <p>You can get help on our mailing list <a href="https://lists.gnu.org/mailman/listinfo/help-gnunet">help-gnunet</a>. If you want to hack on GNUnet get in touch over our mailing list <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">gnunet-developers</a>.
          <h3>IRC</h3>
          <p>Available on irc.freenode.net in the channel #gnunet. => also on matrix</p>
          <h3>Mumble</h3>
          We have a weekly mumble at <a href="https://gnuner.org">https://gnunet.org</ where we talk about recent developments, strategies, and politics ;-)
          <h3>PSYC</h3>
        </div>
        <div class="col-lg-6">
          <h2><a href="https://bib.gnunet.org/">Bibliography</a></h2>
          <p>If you are more the reading kind of person, please take a seat in our libary.</p>
        </div>
      </div>
        <!--
        <br />
        <p>
          {% trans %}
            Use the mailing lists, and join our
            <a href="ircs://chat.freenode.net:6697/#gnunet">IRC channel</a> 
            to keep up with development, find technical help, and
            discuss GNUnet.
          {% endtrans %}
        </p>
      </div>
      <p>
        {% trans %}
          <i class="fas fa-at"></i>
          <a href="https://lists.gnu.org/mailman/listinfo/help-gnunet">General Help Mailing List</a>
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          <i class="fas fa-at"></i>
          <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">Development Mailing List</a>
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          <i class="far fa-comments"></i>
          Available on <a href="https://freenode.net">irc.freenode.net</a>
          in the channel
          <a href="ircs://chat.freenode.net:6697/#gnunet">#gnunet</a>.
        {% endtrans %}
      </p>
        -->
    </div>
  </article>
{% endblock body_content %}
