{% extends "common/base.j2" %}
{% block body_content %}
<article class="container">

  <header>
    <h1>{{ _("Engage!") }}</h1>
  </header>

  <div class="row">
    <div class="col-md">
      <h2>Join the conversation!</h2>
      <p>
        There are many ways to get engaged with GNUnet. A first step is to join the conversation on the mailing lists and on our IRC channel to keep up with development, find technical help, and discuss GNUnet:
      </p>
      <h4>Mailing List</h4>
      <p>
        You can get help on our mailing list <a href="https://lists.gnu.org/mailman/listinfo/help-gnunet">help-gnunet</a>. <br>If you generally want to be informed about recent updates and happenings, get in touch over our <a href="https://lists.gnu.org/mailman/listinfo/info-gnunet">info mailing list</a>.<br/>
        If you want to hack on GNUnet or want to follow technical discussions, try our <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">developer mailing list</a>
      </p>
      <h4>IRC</h4>
      <p>
        Most of the GNUnet developers are on the
        IRC channel #gnunet on freenode (connect via
        <a href="ircs://chat.freenode.net:6697/#gnunet">ircs://chat.freenode.net:6697/#gnunet</a>).
        Please be patient and stay around at least for some hours to get an answer for your request. <!-- There is also a Matrix bridge to the IRC where you can get a backlog without staying connected. -->
      </p>
      <h4>Mumble</h4>
      <p>
            We have a monthly get-together on mumble where we talk about recent developments, strategies, and politics.<br>
            We come together on that day of the month, where n.day==n.month. E.g. we’ll meet on 6th of June, 7th of July, 8th of August, 9th of September, 10th of October and so on. We will usually start around 8 PM CEST, but try to be there earlier and stay longer just to hang around together.<br>
            To connect just enter "gnunet.org" as server into your mumble client; leave everything else as default. 
      </p>
      </p>
      <h4>PSYC</h4>
      <p>
        You find some of us on PSYC using the following adresses: 
        <ul>
          <li>psyc://loupsycedyglgamf.onion/@welcome</li>
          <li>irc://loupsycedyglgamf.onion:67/welcome</li>
          <li>psyc://psyced.org/@welcome</li>
          <li>irc://psyced.org/welcome</li>
          <li>xmpp:*welcome@psyced.org</li>
        </li>
      </p>
    </div>
    <div class="col-md">
      <h2>Install GNUnet!</h2>
      <p>
        Another thing you might want now is your own GNUnet installation. As we haven’t packaged the new versions yet (June 2019) we provide <a href="https://gnunet.org/en/install.html">some tutorials how to install step-by-step</a>.
     </p>
     <h2>Use GNUnet!</h2>
      <p>
      <a href="use.html">Let's get started...</a>
      </p>
     <h2>Report bugs!</h2>
      <p>
        While using GNUnet you will find bugs. Here are some notes on how to do that the most effective way:
      </p>
      <ul>
        <li>Run 'gnunet-bugreport'</li>
        <li>Report the output into our <a href="https://bugs.gnunet.org/">bug tracker</a>. Add more details e.g. what happened and what you expected to happen. </li>
        <li>If you do not want to use the public bug tracker, you can also eMail to bug-gnunet@gnu.org.</li>
        <li>Please inform us if your operating system or package manager applies any vendor changes to GNUnet which you know about (to exclude potential problems introduced by third parties).</li>
        <li>Wait until your bug report is acknowledged/replied to. Note that only volunteers work on this, responses may take a while.</li>
        <li>Please follow up with eventual questions about the bug. </li>
        <li>Once a fix is there: Check if it's working as expected, so that we can properly close the bug report and/or give you credits :)</li>
      </ul>
    <h2>Contribute!</h2>
      <p>
        There are various ways to contribute. We especially need coders with C skills and knowledge of crypto. Development work on this this website, it's translations, the bibliography, our wide documentation, and other efforts are most welcome, too.<br>
        The core software of GNUnet used to be released with long breaks between releases. Since the 0.11.0 release we try to make releases more regularly. Therefore package maintainers who are interested in working together with an welcoming environment are invited to contribute packages of our software to any OS/PM and request help.<br>
        Last but not least designers are welcome to contact us about projects which require help.
    </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h2>Bibliography</h2>
      <p>If you are more the reading kind of person, please take a seat <a href="https://bib.gnunet.org/">in our library...</a></p>
      <h2>Videos</h2>
      <p>...or if you rather want hear us talking to you, lean back and watch some <a href="video.html">videos</a> of our talks at conferences.</p>
    </div>
    <div class="col-md">
      <h2>Get together!</h2>
      <p>
        Occasionally we meet in "meat space", mostly in Germany and
        Switzerland.
        The usual occasions are:
      </p>
      <!-- ul must stand on its own. See html specs -->
      <ul>
        <li><a href="https://events.ccc.de/congress">Chaos Communication Congress</a> in Leipzig (DE), 27th-30th December</li>
        <li><a href="https://datenspuren.de">Datenspuren</a> in Dresden (DE), usually by mid/end of September</li>
        <li>GNUnet Hackweek in Mont-Soleil (CH), usually by the end of June</li>
        <li>Other meetings happening throughout the year: You’ll get to know about it on our Mailing-list (or propose them yourself).</li>
      </ul>
    </div>
  </div>

</article>
{% endblock body_content %}

