{% extends "common/base.j2" %}
{% block body_content %}
  <article class="d-flex flex-column p-2 bd-highlight">
    <div class="container">
      <div class="text-center">
        <header>
          <h1>{{ _("Talk With Us") }}</h1>
        </header>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h2>Join the conversation!</h2>
          <p>
            There are many ways to get engaged with GNUnet. A first step might be to join the conversation on the mailing lists and on our IRC channel to keep up with development, find technical help, and discuss GNUnet:
          </p>
          <h4>Mailing List</h4>
          <p>
            You can get help on our mailing list <a href="https://lists.gnu.org/mailman/listinfo/help-gnunet">help-gnunet</a>. If you want to hack on GNUnet get in touch over our mailing list <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">gnunet-developers</a>.
          </p>
          <h4>IRC</h4>
          <p>
            Most of the GNUnet developer are on the <a href="ircs://chat.freenode.net:6697/#gnunet">IRC channel</a>. Please be patient to get an answere for your request. There is also a Matrix bridge to the IRC.
          </p>
          <h4>Mumble</h4>
          <p>
            We have a weekly mumble at <a href="https://gnuner.org">https://gnunet.org</a> where we talk about recent developments, strategies, and politics ;-)
          </p>
          <h4>PSYC</h4>
          <p>
            You find us also on PSYC using the following adresses: 
            <ul>
              <li>psyc://loupsycedyglgamf.onion/@welcome</li>
              <li>irc://loupsycedyglgamf.onion:67/welcome</li>
              <li>psyc://psyced.org/@welcome</li>
              <li>irc://psyced.org/welcome</li>
              <li>xmpp:*welcome@psyced.org</li>
            </li>
          </p>
        </div>
        <div class="col-lg-5 offset-md-1">
          <h2>Get together!</h2>
          <p>
            We have a monthly get-together on mumble that happens on that day of the month, where n.day==n.month. E.g. we’ll meet on 7th of July, 8th of August, 9th of September, 10th of October and so on. We will usually start around 8 PM CEST, but try to be there earlier and stay longer that day itself.
          </p>
          <p>
            We have some meatspace meetings that happen occasionally, mostly in Germany and Switzerland. The usual occasions are:
            <ul>
              <li>Chaos Communication Congress in Leipzig (DE), 27th-30th December (https://events.ccc.de/congress)</li>
              <li>Datenspuren in Dresden (DE), usually by mid/end of September (https://datenspuren.de)</li>
              <li>GNUnet hackweek in Mont-Soleil (CH), usually by end of June</li>
              <li>Other meetings on-the-fly, you’ll get to know about them on our Mailinglist or sometimes via the news/blog.</li>
            </ul>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h2><a href="https://gnunet.org/en/tutorial.html">Get GNUnet Installed!</a></h2>
          <p>
            The next thing you most likely want to have is your own GNUnet installation. As we haven’t packaged the new versions yet (June 2019) we provide some tutorials how to install step-by-step. Some of them are not complete, but we find them useful regardless of their state.
        </div>
        <div class="col-lg-5 offset-md-1">
          <h2><a href="https://bib.gnunet.org/">Bibliography</a></h2>
          <p>If you are more the reading kind of person, please take a seat in our libary.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h2><a href="">Use GNUnet</a></h2>
          <p>
            Let's gets started...
          </p>
        </div>
        <div class="col-lg-5 offset-md-1">
          <h2><a href="">Report bugs</a></h2>
          <p>
            Help us to find bugs and write them into our <a href="https://gnunet.org/en/tutorial.html">bug tracker</a>.
          </p>
        </div>
      </div>
        <!--
        <br />
        <p>
          {% trans %}
            Use the mailing lists, and join our
            <a href="ircs://chat.freenode.net:6697/#gnunet">IRC channel</a> 
            to keep up with development, find technical help, and
            discuss GNUnet.
          {% endtrans %}
        </p>
      </div>
      <p>
        {% trans %}
          <i class="fas fa-at"></i>
          <a href="https://lists.gnu.org/mailman/listinfo/help-gnunet">General Help Mailing List</a>
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          <i class="fas fa-at"></i>
          <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">Development Mailing List</a>
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          <i class="far fa-comments"></i>
          Available on <a href="https://freenode.net">irc.freenode.net</a>
          in the channel
          <a href="ircs://chat.freenode.net:6697/#gnunet">#gnunet</a>.
        {% endtrans %}
      </p>
        -->
    </div>
  </article>
{% endblock body_content %}
