{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">

<dl>
<!--
<dt>{{ _("term") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
-->
<dt>{{ _("Ego") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
<dt>{{ _("Identity") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
<dt>{{ _("Pseudonym") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
<dt>{{ _("Namespaces") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
</div>
{% endblock body_content %}
