{% extends "common/base.j2" %}
{% block body_content %}
  {% import 'inc/news.macro.j2' as news %}
<!-- Notice Banner -->
<div class="alert">
  <div class="alert-content">
    Notice: GNUnet is still undergoing major development. It is largely <i>not yet ready</i> for usage beyond developers
  </div>
</div>
<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <center><img src="{{ url_static('images/gnunet-logo-dark-text.png') }}"  alt="GNUnet" /></center>
      </div>
      <div class="col-lg-6">
      <p>
        {% trans %}
          GNUnet is a new network protocol stack for building secure,
          distributed, and privacy-preserving applications. With
          strong roots in
          <a href="https://bib.gnunet.org">academic research</a>, our
          goal is to replace the
          <a href="https://secushare.org/broken-internet">old insecure Internet</a>
          protocol stack.
        {% endtrans %}
        <br><br>
        {% trans %}
          GNUnet is typically run as an
          <a href="https://en.wikipedia.org/wiki/Overlay_network">overlay network</a>
          on top of the existing Internet infrastructure forming the basis of a hybrid
          <a href="architecture.html">peer-to-peer mesh and relay backbone</a>
          for applications to run on. It could just as well be run independently of the Internet,
          over <a href="https://en.wikipedia.org/wiki/Physical_layer">dedicated radio and cable</a>.
        {% endtrans %}
        <br><br>
        {% trans %}
          GNUnet is made for a free and open society: It&#39;s a self-organizing network and it
          is <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a>
          as in freedom. GNUnet puts you in control of your data.
          You determine which data to share with whom, and you&#39;re not
          pressured to accept compromises.
        {% endtrans %}
      </p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <p>
      <a class="btn btn-primary btn-lg" href="{{ url_localized('#about') }}">{{ _("About") }}</a>
      &nbsp;
      <a class="btn btn-primary btn-lg" href="{{ url_localized('install.html') }}">{{ _("Install") }}</a>
      &nbsp;
      <a class="btn btn-primary btn-lg" href="{{ url_localized('engage.html') }}">{{ _("Engage") }}</a>
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("News") }}<a name="news"></a></h1>
      </div>
    </div>
    {% for item in newsdata[:4] %}
    <div class="row">
        <div class="col-lg-12">
          {{ news.newspreview(item, prefix="news/") }}
        </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="container text-center">
        <p>
          Read more of our recent news postings <a href="news/index.html">in the archive</a>.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid c_acronym link-white">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1><a name="about"></a>{{ _("The Internet of tomorrow needs GNUnet today") }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <section>
        <h3>{{ _("Imagine...") }}</h3>
        <p>
        {% trans %}
          The conventional Internet is currently like a system of
          roads with deep potholes and highwaymen all over the
          place. Even if you still can use the roads (e.g. send
          emails, or browse websites) your vehicle might get hijacked,
          damaged, or long arms might reach into its back and steal
          your items (data) to use it against you and sell it to
          others - while you can&#39;t even notice the thievery nor
          accuse and hold the scroungers accountable.
	<!-- 
          Proposal from Fabian Gerlach: The conventional Internet is currently like a system of roads
	  with deep potholes and surveillance cameras all over the place.
	  Even if you still can use the roads (e.g. send emails, or browse
	  websites) your vehicle might gets damaged. And the surveillance
	  cameras will create a movement profile about your life: They
	  recognize your car license plate, track you everywhere you drive,
	  and save this information in a central data base.
          -->
      {% endtrans %}
        </section>
        </p>
      </div>
      <div class="col-lg-4">
        <section>
        <h3>{{ _("The Internet is broken") }}</h3>
        <p>
          {% trans %}
          Protocols from Ethernet and IP to BGP and X.509 PKI are
          insecure by default: protecting against address forgery,
          routers learning metadata, or choosing trustworthy CAs is
          nontrivial and sometimes impossible.
	<!--
          Proposal from Fabian Gerlach: The Internet is not designed with security in mind:
	  The network generally learns too much about users; it has insecure
	  defaults and high complexity; and it is centralized. That makes it very
	  vulnerable for multiple attacks massively threatening our freedom.
          -->
      {% endtrans %}
        </p>
        <p>
          {% trans %}
          GNUnet provides
	  <a href="https://www.w3.org/2014/strint/papers/65.pdf">privacy by design</a>,
	  improving addressing, routing, naming and
          content distribution in a technically robust manner - as
          opposed to ad-hoc designs in place today.
	<!--
          Proposal from fabian gerlach: GNUnet is built 
	  <a href="https://www.w3.org/2014/strint/papers/65.pdf">"privacy by design"</a> and
	  "distributed by design". This improves addressing, routing, naming and
	  content distribution in a technically robust manner.
        -->
          {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-4">
        <section>
        <h3>{{ _("Decentralization is hard") }}</h3>

        <p>
          {% trans %}
          <!--
            replaced with Proposal from Fabian Gerlach: 
	    It seems as if every other distributed or P2P project
            develops its own library stack, covering transports, stream
            muxing, discovery and others. This divides effort and
            multiplies bug count.
            -->
	    Instead of sharing common components and tools for
	    building P2P systems, every P2P project seems to re-invent
	    the wheel.
            <!-- TODO: rework this sentence. -->
            This heightens the effort and increases the
            potential number of vulnerabilities.
	  {% endtrans %}
	<p>
	  {% trans %}
          GNUnet is a metadata-preserving foundation for your
          application, covering areas from addressing to reliable
          bidirectional Axolotl-encrypted channels, with advanced
          routing. Our work is based on continuous research spanning
          almost two decades.
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <section>
        <h3>{{ _("Metadata is exposed") }}</h3>
        <p>
          {% trans %}
	    Your metadata is just as revealing as the actual content; and it gets exposed on the Internet.<br>
            Even though transport encryption is increasingly being
            deployed on the Internet, it still reveals data that can
            threaten democracy: the identities of senders and receivers,
            the times, frequency and the volume of communication are all
            still revealed.<br>
	  <!--
            Looks like a weak argumentation to me:
            which <a href="https://www.freehaven.net/anonbib/cache/websitefingerprinting-pets2016.pdf">enables reverse-engineering pages visited via website fingerprinting</a>.
            -->
            GNUnet
	    <a href="https://secushare.org/anonymity">addresses</a>
	    these concerns with perfect forward secrecy via ephemeral
	    public key addressing, fixed packet size to hinder traffic
	    analysis, layered encryption, Sybil-resistant routing, and
	    more.
          {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-4">
        <section>
        <h3>{{ _("Freedoms are not respected") }}</h3>
        <p>
          {% trans %}
	    Today, monitoring increasingly centralized infrastructure,
	    proprietary implementations, traffic shapers and firewalls
	    restrict all of the
	    <a href="https://www.gnu.org/philosophy/free-sw.html">essential freedoms</a>
	    to various degrees.
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            GNUnet gives users freedoms to securely access information
            ("run" the network), to study all aspects of the network&#39;s
            operation ("access the code"), to distribute information
            ("copy"), as well as the freedom to deploy new applications
            ("modify").
          {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-4">
        <section>
        <h3>{{ _("Learn more about GNUnet") }}</h3>
        <p>
          {% trans %}
            If you want to know more about the GNUnet please continue reading 
	    the <a href="about.html">about page</a>. There are much more resources, 
	    such as the <a href="https://docs.gnunet.org">main handbook / 
	    reference manual</a>, a <a href="https://bib.gnunet.org/">bibliography</a> 
	    and <a href="https://gnunet.org/en/video.html">videos</a>. 
          {% endtrans %}
        </p>
        <p>
          {% trans %}
	    You are very welcome to <a href="https://gnunet.org/en/engage.html">
	    get engaged into the conversation</a>, 
	    <a href="https://gnunet.org/en/install.html">install GNUnet</a>, 
	    <a href="https://gnunet.org/en/use.html">use it</a> and 
	    <a href="https://gnunet.org/en/engage.html">contribute</a>. <br>
	    Be aware that this project is still in an early alpha stage when it comes 
	    to software &#8211; it is not an easy task to rewrite the whole Internet!
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("Featured Applications") }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
      <section>
      <h3>{{ _("GNU Taler (Alpha)") }}</h3>
      <p>
        {% trans %}
        <a href="https://taler.net/">GNU Taler</a>
	is a new privacy-preserving electronic payment system.
	Payments are cryptographically
        secured and are confirmed within milliseconds with
        extremely low transaction costs.
        {% endtrans %}
      </p>
      </section>
    </div>
    <div class="col-lg-4">
      <section>
      <h3>{{ _("The GNU Name System") }}</h3>

      <p>
        {% trans %}
          <!-- The <a href="use.html#gns">GNU Name System (GNS)</a> -->
          The <a href="https://docs.gnunet.org/handbook/gnunet.html#The-GNU-Name-System">GNU Name System (GNS)</a>
          is a fully decentralized replacement
	  for the Domain Name System (DNS).  Instead of using a
	  hierarchy, GNS uses a directed graph.  Naming conventions
	  are similar to DNS, but queries and replies are private even
	  with respect to peers providing the answers.  The integrity of
	  records and privacy of look-ups is cryptographically secured.
	  <!-- Too technical: GNS integrates
	       a robust, efficient and instant key revocation mechanism. -->
        {% endtrans %}
      </p>
      </section>
    </div>
     <div class="col-lg-4">
      <section>
      <h3>{{ _("re:claimID") }}</h3>
      <p>
        {% trans %}
        <a href="https://reclaim-identity.io/">re:claimID</a>
        is a decentralized Identity Provider (IdP) service built in top of the
        GNU Name System. It allows users to securely share personal information
        with websites using standardized protocols (OpenID Connect).
        {% endtrans %}
      </p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <section>
      <h3>{{ _("Filesharing (Alpha)") }}</h3>
      <p>
        {% trans %}
        GNUnet <a href="use.html#fs">filesharing</a>
        is an application that aims to provide
        censorship-resistant, anonymous filesharing. The publisher is
	empowered to make a gradual choice between performance and anonymity.
        {% endtrans %}
      </p>
      </section>
    </div>
    <div class="col-lg-4">
      <section>
      <h3>{{ _("Conversation (Pre-Alpha)") }}</h3>
      <p>
        {% trans %}
	GNUnet conversation is an application that provides secure
        voice communication in a fully decentralized way by employing
        GNUnet for routing and transport.
        {% endtrans %}
      </p>
      </section>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid c_acronym link-white">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("Upcoming Applications") }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <section>
        <h3>{{ _("secushare") }}</h3>
        <p>
          {% trans %}
          <a href="https://secushare.org/">secushare</a>
          is creating a decentralized social networking
          application on top of GNUnet.  Using overlay
          multicast and the extensible PSYC protocol, notifications are
          distributed end-to-end encrypted to authorized recipients only.
          {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-6">
        <section>
        <h3>{{ _("pretty Easy privacy") }}</h3>
        <p>
          {% trans %}
          <a href="https://pep.foundation/">pretty Easy privacy</a> (p&#8801;p)
          is creating a usable end-to-end encrypted e-mail solution using
          opportunistic key exchange.
          p&#8801;p will use GNUnet to protect metadata and exploit new
          cryptographic protocols to verify keys.
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock body_content %}
