{% extends "common/base.j2" %}
{% block body_content %}
<!-- Jumbotron -->
<div>
  <div class="container">
    <div class="row">
      <div class="container text-center">
        <h1>{{ _("The Internet of tomorrow needs GNUnet today") }}</h1>
      </div>
    </div>

    <div class="container text-center">
      <img src="{{ url_static('images/gnunet-logo-dark-text.png') }}"  alt="GNUnet" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
      <div class="row">
      <div class="col-lg-2 homepageicon">
        <span class="fa fa-bullhorn"></span>
      </div>
      <div class="col-lg-6">
      <section>
        <h2>{{ _("Latest news") }}</h2>
        <p>
        {% for item in newsdata[:3] %}
        <a class="link" href="{{ url_localized(item['page']) }}" title="{{ item['date']}}">{{ item['date'] }}: {{ item['title'] }}</a><br/>
        {% endfor %}
        <br/>
        <a class="link" href="{{ url_localized('news/index.html')}}">{{ _("Older news entries") }}</a>
        </p>
        </section>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid greybox">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("The Internet is broken") }}</h2>
        <p>
        {% trans %}
          The conventional Internet is currently like a system of
          roads with deep potholes and highwaymen all over the
          place. Even if you still can use the roads (e.g. send
          emails, or browse websites) your vehicle might get hijacked,
          damaged, or long arms might reach into its back and steal
          your items (data) to use it against you and sell it to
          others - while you can&#39;t even notice the thievery nor
          accuse and hold the scroungers accountable.
	<!--
          Proposal from Fabian Gerlach: The conventional Internet is currently like a system of roads
	  with deep potholes and surveillance cameras all over the place.
	  Even if you still can use the roads (e.g. send emails, or browse
	  websites) your vehicle might gets damaged. And the surveillance
	  cameras will create a movement profile about your life: They
	  recognize your car license plate, track you everywhere you drive,
	  and save this information in a central data base.
          -->
          The Internet was not designed with security in mind: protecting against
          address forgery, routers learning metadata, or choosing trustworthy
          third parties is nontrivial and sometimes impossible.
	<!--
          Proposal from Fabian Gerlach: The Internet is not designed with security in mind:
	  The network generally learns too much about users; it has insecure
	  defaults and high complexity; and it is centralized. That makes it very
	  vulnerable for multiple attacks massively threatening our freedom.
          -->
      {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-3 homepageicon">
        <span class="fas fa-dumpster-fire"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
      <div class="row">
      <div class="col-lg-2 homepageicon">
        <span class="fas fa-layer-group"></span>
      </div>
      <div class="col-lg-6">
      <section>
        <h2>{{ _("GNUnet helps building a new Internet") }}</h2>
        <p>
          {% trans %}
            GNUnet is a network protocol stack for building secure,
            distributed, and privacy-preserving applications.<br/>
            With
            strong roots in
            <a class="link" href="https://bib.gnunet.org">academic research</a>, our
            goal is to replace the
            <a class="link" href="https://secushare.org/broken-internet">old insecure Internet</a>
            protocol stack.
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid greybox">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("Metadata is exposed") }}</h2>
        <p>
          {% trans %}
	    Your metadata is just as revealing as the actual content; and it gets exposed on the Internet.<br>
            Even though transport encryption is increasingly being
            deployed on the Internet, it still reveals data that can
            threaten democracy: the identities of senders and receivers,
            the times, frequency and the volume of communication are all
            still revealed.<br>
          {% endtrans %}
            <!--
            Looks like a weak argumentation to me:
            which <a href="https://www.freehaven.net/anonbib/cache/websitefingerprinting-pets2016.pdf">enables reverse-engineering pages visited via website fingerprinting</a>.
            -->
        </p>
        </section>
      </div>
      <div class="col-lg-3 homepageicon">
        <span class="fa fa-eye"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 homepageicon">
        <i class="fas fa-shield-alt"></i>
      </div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("GNUnet provides privacy-by design") }}</h2>
        <p>
          {% trans %}
          It provides <a class="link" href="https://www.w3.org/2014/strint/papers/65.pdf">
	  improving addressing, routing, naming and
          content distribution</a> in a technically robust manner - as
          opposed to ad-hoc designs in place today.
	<!--
          Proposal from fabian gerlach: GNUnet is built
	  <a href="https://www.w3.org/2014/strint/papers/65.pdf">"privacy by design"</a> and
	  "distributed by design". This improves addressing, routing, naming and
	  content distribution in a technically robust manner.
        -->
          {% endtrans %}

        <p>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid greybox">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("Freedoms are not respected") }}</h2>
        <p>
          {% trans %}
	    Today, monitoring increasingly centralized infrastructure,
	    proprietary implementations, traffic shapers and firewalls
	    restrict all of the
	    <a class="link" href="https://www.gnu.org/philosophy/free-sw.html">essential freedoms</a>
	    to various degrees.
          {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-3 homepageicon">
        <i class="fas fa-user-lock"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 homepageicon">
        <span class="fas fa-dove"></span>
      </div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("GNUnet supports a free and open society") }}</h2>
        <p>
        {% trans %}
          GNUnet is a self-organizing network and it
          is <a class="link" href="https://www.gnu.org/philosophy/free-sw.html">free software</a>
          as in freedom. GNUnet puts you in control of your data.
          You determine which data to share with whom, and you&#39;re not
          pressured to accept compromises.
          It gives users freedoms to securely access information
            ("run" the network), to study all aspects of the network&#39;s
            operation ("access the code"), to distribute information
            ("copy"), as well as the freedom to deploy new applications
            ("modify").
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid greybox">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("Decentralization is the key, but hard") }}</h2>

        <p>
          {% trans %}
          <!--
            replaced with Proposal from Fabian Gerlach:
	    It seems as if every other distributed or P2P project
            develops its own library stack, covering transports, stream
            muxing, discovery and others. This divides effort and
            multiplies bug count.
            -->
	    Instead of sharing common components and tools for
	    building P2P systems, every P2P project seems to re-invent
	    the wheel.
            <!-- TODO: rework this sentence. -->
            This heightens the effort and increases the
            potential number of vulnerabilities.
	  {% endtrans %}
        </p>
        </section>
      </div>
      <div class="col-lg-3 homepageicon">
        <span class="fas fa-dharmachakra"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 homepageicon">
        <span class="fas fa-flask"></span>
      </div>
      <div class="col-lg-6">
        <section>
        <h2>{{ _("GNUnet is a framework") }}</h2>
        <p>
	  {% trans %}
          It offers a metadata-preserving foundation for your
          application. It offers components for addressing, reliable
          encrypted channels with advanced
          routing and resource discovery and naming.
          Our work is based on continuous research spanning
          almost two decades.
          {% endtrans %}
        </p>
        </section>
      </div>
    </div>
  </div>

</div>
<hr style="padding: 2em;"/>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mt-1">
        <a class="frontpage btn btn-primary btn-lg" href="{{ url_localized('about.html') }}"><i class="fas fa-graduation-cap"></i><br/>{{ _("Learn more") }}</a>
      </div>
      <div class="col-lg-3 mt-1">
        <a class="frontpage btn btn-primary btn-lg" href="{{ url_localized('applications.html') }}"><i class="fas fa-cubes"></i><br/>{{ _("Applications") }}</a>
      </div>
      <div class="col-lg-3 mt-1">
        <a class="frontpage btn btn-primary btn-lg" href="{{ url_localized('engage.html') }}"><i class="fas fa-users"></i><br/>{{ _("Engage") }}</a>
      </div>
      <div class="col-lg-3 mt-1">
        <a class="frontpage btn btn-primary btn-lg" href="{{ url_localized('install.html') }}"><i class="fas fa-play"></i><br/>{{ _("Get started") }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock body_content %}
