{% extends "common/base.j2" %}
{% block body_content %}
<article class="container">

  <header>
    <h1>{{ _("Install") }}</h1>
  </header>

  <div class="row container justify-content-center">
    <div class="alert" style="background-color: #419edb;">
      <div class="alert-content">
          Notice: GNUnet is still undergoing major development. It is
          largely <i>not yet ready</i> for usage beyond developers.
      </div>
    </div>
  </div>

  <h3>Current release downloads:</h3>
  <div class="row container justify-content-center">
    <div class="col-md">
    <b>gnunet</b>: <a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz">0.12.0</a> (<a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz.sig">sig</a>) sha512sum: <tt>5457d6f80478b28821de70b4da419d40d6972d270622bdeb83e5552b286fd032</tt><br>
    <b>gnunet-gtk</b>: <a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.12.0.tar.gz">0.12.0</a> (<a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.12.0.tar.gz.sig">sig</a>) sha512sum: <tt>cb99da11d68107f9709ee5be49cc574e9a03054767334767930ae6b0bd1a4421</tt><br/>
    <b>gnunet-fuse</b>: <a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.12.0.tar.gz">0.12.0</a> (<a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.12.0.tar.gz.sig">sig</a>) sha512sum: <tt>4d42dc3112f36ada150b3904e207b93373c90d4fbd5a1c6415ee7f5c6a428e3b</tt>
    </div>
  </div>
  <h3>Instructions</h3><br/>
  <div class="row container justify-content-center">
    <div class="col-md">
      {% trans %}
      <p>The following GNUnet installation instructions help you building from source for your Operating System.</p>
      <p><i>Please note that the installation process will get much easier once we have proper packages again (planned for winter 2019).</i></p>
      <p>You have already installed GNUnet and want to use it?
      <a href="https://gnunet.org/en/use">Check this out!</a> </p>
      {% endtrans %}
    </div>
    <div class="col-md">
      {% trans %}
      <p>Please be aware that this project is still in an early alpha
      stage when it comes to running software &#8211; its not an easy task
      to rewrite the whole Internet! We are happy to get your
      <a href="engage.html">helping hand</a> anytime!</p>
      <p>Further information is available in our <a href="https://docs.gnunet.org/#toc-Using-GNUnet-1">handbook</a>.</p>
      <p>If you have any queries about the installation or the usage, please <a href="engage.html">get in touch!</a></p>
      {% endtrans %}
    </div>
  </div>

  <div class="row container justify-content-center text-center">
    <div class="col-md">
      <p><a href="install-on-ubuntu1804.html"><img src="{{ url('static/images/ubuntu-logo32.png') }}" class="distro-logo"></a></p>
      <h3>Ubuntu 18.04</h3>
    </div>
    <div class="col-md">
      <p><a href="install-on-debian9.html"><img src="{{ url('static/images/debian-logo.svg') }}" class="distro-logo"></a></p>
      <h3>Debian 9</h3>
    </div>
    <div class="col-md">
      <!-- Not the officially distributed file, but it's the same logo, in svg. Use this. -->
      <p><a href="install-on-netbsd.html"><img src="{{ url('static/images/NetBSD_Logo.svg') }}" class="distro-logo"></a></p>
      <h3>NetBSD</h3>
    </div>
  </div>

  <div class="row container justify-content-center text-center">
    <div class="col-md">
      <h2><a href="install-on-macos.html">Apple macOS</a></h2>
      <h3>macOS</h3>
    </div>
    <div class="col-md">
      <p><a href="install-on-archpi.html"><img src="{{ url('static/images/archlinux-logo.svg') }}" class="distro-logo" style="width:300px;height:auto"></a></p>
      <h3>Arch Linux/Arch-Pi</h3>
    </div>
    <div class="col-md">
      <p><a href="install-on-openwrt.html"><img src ="{{ url('static/images/openwrt-logo.svg') }}" class="distro-logo" style="width:300px;height:auto"></a></p>
      <h3>OpenWrt</h3>
    </div>
    <div class="col-md">
      <p><a href="https://wiki.gentoo.org/wiki/Overlay:Youbroketheinternet"><img alt="gentoo linux" src ="{{ url('static/images/gentoo-logo.svg') }}" class="distro-logo" style="width:300px;height:auto"></a></p>
    </div>
  </div>

</article>
{% endblock body_content %}
