<div class="sharing">
  <p>
    permanent link to this post:
    <a href="{{ post.canonical_url }}">{{ post.canonical_url }}</a>
  </p>
</div>
<p class="meta">
  <a class="basic-alignment left"
     href="{{ post.post_previous.relative_url }}"
     title="Previous Post: {{ post.post_previous.title }}">
     &laquo; {{ post.post_previous.title }}
  </a>
</p>
