{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
  <div class="row">
    <div class="container text-center">
      <h1>{{ _("Roadmap") }}</h1>
      <section>
        <p>
         This is our roadmap.
        </p>
      </section>
    </div>
    <ul class="timeline">
      <li>
        <section class="item-preview">
          <header>
            <h3>0.13.0</h3>
            <p class="item-date">
              31.6.2020, 2020
            </p>
          </header>
          <p class="item-abstract">
            This release will include...
          </p>
        </section>

      </li>
      <li>
        <section class="item-preview">
          <header>
            <h3>0.14.0</h3>
            <p class="item-date">
              31.6.2020, 2020
            </p>
          </header>
          <p class="item-abstract">
            This release will include...
          </p>
        </section>
      </li>
    </ul>
  </div>
</div>

{% endblock body_content %}
