{% extends "common/base.j2" %}
{% block body_content %}
<article class="d-flex flex-column p-5 bd-highlight">
    <header>
      <h1>{{ _("Tutorials") }}</h1>
    </header>
    <p>
      {% trans %}
      This page holds various tutorials for GNUnet. Some of them are not
      complete, but we find them useful regardless of their state.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
      GNUnet installation instructions:
      <ul>
        <li><a href="tutorial-ubuntu1804.html">Ubuntu 18.04</a></li>
        <li><a href="tutorial-archpi.html">Arch-Pi</a></li>
        <li><a href="tutorial-debian9.html">Debian 9</a></li>
        <li><a href="tutorial-macos.html">macOS</a></li>
        <li><a href="tutorial-netbsd.html">NetBSD</a></li>
      </ul>
      {% endtrans %}
    </p>
    <p>
      {% trans %}
      <a href="https://tutorial.gnunet.org/">C Coding Tutorial for GNUnet</a>
      {% endtrans %}
    </p>
</article>
{% endblock body_content %}
