{% extends "common/base.j2" %}
{% block body_content %}
  <!--
      FIXME
      - some links are missing
      - most of the videos are loaded from git which is a bottleneck for performance.
      - Better selective loop over the dicts.
    -->

    <article class="container">
      <header>
        <h1>{{ _("Videos related to GNUnet") }}</h1>
      </header>
      <div class="row">
        <div class="col-lg-12">
          {% for item in videosdata %}
            <section>
              <header>
                <h2>{{ item['name'] }} ({{ item['year'] }})</h2>
              </header>
              <div class="row container">
                <div class="col-md-5 col-12">
                  <video width="100%" height="100%" controls preload="none">
	            <source src="{{ item['source']}}">
                      Your web browser does not support the video tag.
                  </video>
                </div>
                <div class="col">
                  <p>
                    Name: {{ item['name'] }}<br>
                    Authors: {{ item['author'] }}<br>
                    Location: {{ item['location'] }}<br>
                    Description: {{ item['description'] }}<br>
                    Year: {{ item['year'] }}<br>
                    Slides: {% if item['slides'] %}<a href="{{ item['slides'] }}">Slides</a>{% endif %}<br>
                    Mirror: {% if item['mirror_source'] %}<a href="{{ item['mirror_source'] }}">Mirror Source</a>{% endif %}<br>
                    {% if item['comment'] %}
                      Comment: {{ item['comment'] }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </section>
          {% endfor %}
        </div>
      </div>
    </article>
  {% endblock body_content %}
