{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
<div class="container">
    <div class="container">
      <div class="text-center">
        <header>
          <h1>{{ _("Talks related to GNUnet") }}</h1>
        </header>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <!-- FIXME
	- some links are missing
	- most of the videos are loaded from git which is a bottleneck for performance. idea: replace some with orginal sources (media.ccc.de, ...)
      -->
      <h3>{{ _("2019") }}</h3>
      <ul>
        <li>Christian Grothoff, <a href="https://git.gnunet.org/gnunet-videos-2019.git/plain/IETF104/GNU_Name_System_-_2019_Edition_IETF104__Christian_Grothoff.mkv">GNU Name System</a>, IETF</li> 
      </ul>
      <h3>{{ _("2018") }}</h3>
      <ul>
        <li>Christian Grofhoff, <a href="https://git.gnunet.org/gnunet-videos-2018.git/plain/GNS_-_The_GNU_Name_System_-_Overview.mkv">GNS - The GNU Name System - Overview</a></li> 
        <li>t3sserakt, <a href="https://git.gnunet.org/gnunet-videos-2018.git/plain/Datenspuren2018/DS2018-9337-deu-State_of_the_GNUnet_webm-hd.webm">State of the GNUnet</a>, Datenspuren 2018</li> 
        <li>sva, <a href="https://git.gnunet.org/gnunet-videos-2018.git/plain/hack.lu/Hack.lu_2018_LT_-_GNUnet_-_You_Broke_The_Internet_Lets_Make_A_GNU_One__sva.webm">You Broke The Internet - Lets Make A GNU One</a>, hack.lu</li> 
      </ul>
      <h3>{{ _("2017") }}</h3>
      <ul>
        <li>lynX, <a href="https://git.gnunet.org/gnunet-videos-2017.git/plain/34c3/34c3-chaoswest-1-eng-Three_Ways_to_Enhance_Metadata_Protection_Beyond_Tor_-_secushareorg_webm-hd.webm">Three Ways to Enhance Metadata Protection Beyond Tor</a>, 34C3</li> 
        <li>t3sserakt, <a href="https://git.gnunet.org/gnunet-videos-2017.git/plain/34c3/34c3-chaoswest-2-eng-Modeling_Trust_in_a_Distributed_Private_Social_Network_-_secushareorg_webm-hd.webm">Modeling Trust in a Distributed Private Social Network</a>, 34C3</li> 
        <li>lynX and Christian Grothoff, <a href="https://git.gnunet.org/gnunet-videos-2017.git/plain/34c3/34c3-chaoswest-6-eng-Privacy-Oriented_Distributed_Networking_for_an_Ethical_Internet_-_including_50_subsystems_of_GNUnet_webm-hd.webm">Privacy-Oriented Distributed Networking for an Ethical Internet</a>, 34C3</li> 
        <li>lynX, <a href="https://git.gnunet.org/gnunet-videos-2017.git/plain/34c3/34c3-chaoswest-7-eng-Scalable_and_privacy-respectful_distributed_systems_-_Our_chance_to_avoid_cloud_computing_webm-hd.webm">Scalable and privacy-respectful distributed systems - Our chance to avoid cloud computing</a>, 34C3</li> 
      </ul>
      <h3>{{ _("2016") }}</h3>
      <ul>
        <li>Daniel Golle, <a href="https://git.gnunet.org/gnunet-videos-2016.git/plain/Battlemeshv9/Gnunet%20For%20Mesh%20Communities%20-%20Battlemesh%20v9%20(Porto,%20Portugal).mp4">Gnunet For Mesh Communities</a>, Battlemesh v9 (Porto, Portugal)</li> 
	<li>t3sserakt and xrs, <a href="https://git.gnunet.org/gnunet-videos-2016.git/plain/Datenspuren2016/DS2016-7775-deu-Secushare.opus">Secushare</a> (opus, <a href="https://git.gnunet.org/gnunet-videos-2016.git/plain/Datenspuren2016/DS2016-7775-deu-Secushare_webm-hd.webm">webm-hd</a>, <a href="https://git.gnunet.org/gnunet-videos-2016.git/plain/Datenspuren2016/DS2016-7775-deu-Secushare_webm-sd.webm">webm-sd</a>), Datenspuren 2016</li>
 	<li>Jeff Burdges, <a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/GHM%202015/expose-GNUJeffBurdges19aout2016.mp4">Xolotl - A compact mixnet format with stronger forwared secrecy and hybrid anonymity</a>, GNU Hacker Meeting
      </ul>
      <h3>{{ _("2015") }}</h3>
      <ul>
        <li><a href="">Reproducible Software Deployment with GNU Guix</a></li> 
	<li><a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/32c3/byzantine-fault-tolerant-set-consensus-with-efficient-set-reconciliation.mp4">Byzantine fault tolerant set consensus with efficient set reconciliation</a>, 32C4 <!--FIXME:link working?-->
 	<li>Daniel Golle, <a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/BattleMeshV8/GNUnet%20in%20Community%20Mesh%20Networks%20+%20Slides%20-%20BattleMeshV8.mkv">GNUnet in Community Networks</a>, BattleMesh 2015
 	<li>t3sserakt and demos, <a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/Datenspuren2015/datenspuren15-7069-de-EDN_-_Echt_Dezentrales_Netzwerk_webm.webm">Echt Dezentrales Netzwerk</a>, Datenspuren 2015
	<li>Christian Grothoff, <a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/psc2015/grothoff.webm">The Architecture of the GNUnet: 45 Subsystems in 45 Minutes</a>
 	<li>Julian Kirsch and Christian Grothoff, <a href="https://git.gnunet.org/gnunet-videos-2015.git/plain/tue2015/grothoff.webm">Knocking down the HACIENDA</a>, Eindhoven University of Technology</li>
      </ul>
      <h3>{{ _("2014") }}</h3>
      <ul>
        <li>Julian Kirsch, <a href="">"Knocking down the HACIENDA"</a>, GNU Hacker Meeting 2014</li>
        <li>Peter Schaar, <a href="">"Technik, Recht und Überwachung"</a>, Technische Universität München</li>
        <li>Christian Grothoff, <a href="">"A Public Key Infrastructure for Social Movements in the Age of Universal Surveillance"</a>, Univeristy of Oxford</li>
        <li>Jacob Appelbaum, Douwe Korff and Christian Grothoff, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/2014-coe.webm">"After Snowden: using law and technology to counter snooping"</a>, Counsil of Europe</li>
	<li>Nicolas Benes, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/do-panic-do-panic.webm">Panic! An approach for home routers to securely erase sensitive data</a>, 31C3</li>
	<li>Lucas Fulchir, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/fenrir-fenrir.webm">why TLS sucks and what I'm doing about it</a>, 31C3</li>
	<li>Markus Sabadello and Suhin Mohan Adapa, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/freedombox-freedombox.webm">FreedomBox Status Update</a>, 31C3</li>
	<li>Bernd Paysan, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/net2o-net2o.webm">net2o - Reinventing the internet</a>, 31C3</li>
	<li>Markus Benter, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/queries-queries.webm">Complex Queries in P2P networks</a>, 31C3</li>
	<li>Christian Grothoff and Florian Dold, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/taler-taler.webm">Taler</a>, 31C3</li>
	<li>Florian Dold, <a href="https://git.gnunet.org/gnunet-videos-2014.git/plain/31c3/voting-voting.webm">Electronic Voting and Key Generation in Distributed Systems</a>, 31C3</li>
      </ul>
      <h3>{{ _("2013") }}</h3>
      <ul>
        <li>Bart Polot, <a href="">"GNUnet CADET and GNUnet Conversation" at YBTI/30c3</a>, 30C3</li>
        <li>Christian Grothoff, <a href="">"The GNU Name System"</a>, 30C3</li>
        <li>Markus Teich on "Monkey, <a href="">Generating Useful Bug Reports Automatically"</a>, Technische Universität München</li>
        <li>Christian Grothoff, <a href="">"The GNU Name System and the Future of Social Networking with GNUnet" at GHM</a></li>
        <li>Christian Grothoff, Carlo von Lynx, Jacob Appelbaum and Richard Stallman, <a href="">"You broke the Internet. We're making ourselves a GNU one."</a>, Berlin</li>
        <li>Roger Dingledine and Jacob Appelbaum, <a href="">"Q &amp; A"</a>, Technische Universität München</li>
        <li>Maximilian Szengel, <a href="">"Decentralized Evaluation of Regular Expressions for Capability Discovery in Peer-to-Peer Networks"</a>, Technische Universität München</li>
	<li><a href="https://git.gnunet.org/gnunet-videos-2013.git/plain/you%20broke%20the%20internet/internetistschuld.webm">You broke our internet</a>, Piratenpartei Berlin</li>
      </ul>
      <h3>{{ _("2012") }}</h3>
      <ul>
        <li>Martin Schanzenbach, <a href="">"A Censorship-Resistant and Fully Decentralized Naming System",</a>Technische Universität München</li>
        <li>Richard Stallman, <a href="">"Copyright vs. Community"</a>, Technische Universität München</li>
      </ul>
      <h3>{{ _("2010") }}</h3>
      <ul>
	<!-- FIXME: are the media accessible? -->
	<li><a href="https://git.gnunet.org/gnunet-videos-2010.git/plain/GHM_Hague/GNUnet_-_Transports_and_Transport_Selection.ogv">GNUnet - Transport and Transport Selection</a>, GNU Hacker Meeting 2010</li>
	<li><a href="https://git.gnunet.org/gnunet-videos-2010.git/plain/GHM_Hague/GNUnet_Distributed_Data_Storage_-_DHT_and_Distance_Vector_Transport.ogv">GNUnet Distributed Data Storage - DHT and Distance Vector Transport</a>, GNU Hacker Meeting 2010</li>
	<li><a href="https://git.gnunet.org/gnunet-videos-2010.git/plain/GHM_Hague/Introduction_to_The_GNUnet_Peer-to-Peer_Framework.ogv">Introduction to the GNUnet Peer-to-Peer Framework</a>, GNU Hacker Meeting 2010</li>
      </ul>
    </div>
  </div>
</div>

</div> <!-- /container -->
{% endblock body_content %}
