[submodule "help"]
	path = help
	url = git://taler.net/help
	branch = master
[submodule "build-system/taler-build-scripts"]
	path = build-system/taler-build-scripts
	url = git://git.taler.net/taler-build-scripts
