./*.html
common/*.inc

*.mo
locale/**

videos/grothoff2014fossa.webm
videos/grothoff2014fossa.ogv

rendered/
en/
de/
fr/
it/
es/
ru/

__pycache__
*.pyc

sitemap.html

*~
\#*\#
futility_engine_loader.sh
