./*.html
common/*.inc

old/

videos/grothoff2014fossa.webm
videos/grothoff2014fossa.ogv

rendered/
en/
de/
fr/
it/
es/
ru/

__pycache__
*.pyc

sitemap.html
sitemap.xml

*~
\#*\#
futility_engine_loader.sh

config.mk

*.core

.style.yapf
help/
configure
locale/ar/LC_MESSAGES/messages.mo
locale/hi/LC_MESSAGES/messages.mo
locale/ja/LC_MESSAGES/messages.mo
locale/ko/LC_MESSAGES/messages.mo
locale/pt/LC_MESSAGES/messages.mo
locale/zh_Hant/LC_MESSAGES/messages.mo

