[submodule "build-system/taler-build-scripts"]
	path = build-system/taler-build-scripts
	url = git://git.taler.net/build-common
        ignore = dirty
[submodule "inc"]
	path = inc
	url = https://git.gnunet.org/www_shared.git
        ignore = dirty
