{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
<!-- list alphabetical, first those with images, then those without -->
<div class="row">
  <div class="col-lg-4">
    <h2><a href="https://grothoff.org/christian/">Christian Grothoff</a></h2>
    <img src="{{ url('team-images/christian-grothoff.jpg') }}" height="240" alt="Christian Grothoff" align="middle">
    <p>{{ _("GNU maintainer.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>dvn</h2>
    <img src="{{ url('team-images/dvn.jpg') }}" height="240" alt="dvn" align="middle">
    <p>{{ _("Continuous Integration, secushare, packaging (Guix).") }}</p>
  </div>
  <div class="col-lg-4">
    <h2><a href="https://fdold.eu">Florian Dold</a></h2>
    <img src="{{ url('team-images/florian-dold.jpg') }}" height="240" alt="Florian Dold" align="middle">
    <p>{{ _("Set, Consensus, Voting.") }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Jeffrey Burdges</h2>
    <img src="{{ url('team-images/jeff-burdges.jpg') }}" height="240" alt="Jeffrey Burdges" align="middle">
    <p>{{ _("Mix networking.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>Julius B&uuml;ger</h2>
    <img src="{{ url('team-images/julius-buenger.jpg') }}" height="240" alt="Julius B&uuml;nger" align="middle">
    <p>{{ _("Random peer sampling.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>lurchi</h2>
    <img src="{{ url('team-images/lurchi.jpg') }}" height="240" alt="lurchi" align="middle">
    <p>{{ _("secushare, Social, PSYC, Multicast, Data Protection Theory.") }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Martin Schanzenbach</h2>
    <p>{{ _("GNU Name System, Identity Management, ABE.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2><a href="http://sreeharsha.totakura.in/">Sree Harsha Totakura</a></h2>
    <img src="{{ url('team-images/sree-harsha-totakura.jpg') }}" height="240" alt="Sree Harsha Totakura" align="middle">
    <p>{{ _("Testbed, voice.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>t3sserakt</h2>
    <img src="{{ url('team-images/t3sserakt.jpg') }}" height="240" alt="t3sserakt" align="middle">
    <p>{{ _("secushare, Social, PSYC, Multicast.") }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>wldhx</h2>
    <img src="{{ url('team-images/wldhx.jpg') }}" height="240" alt="wldhx" align="middle">
    <p>{{ _("Web site, packaging (Nix/Guix).") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>Christian Kühne</h2>
    <img src="{{ url('team-images/ck.jpg') }}" height="240" alt="Christian Kühne" align="middle">
    <p>{{ _("secushare, Social, PSYC, Multicast.") }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Bart Polot</h2>
    <p>{{ _("NSE, CADET.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>LRN</h2>
    <p>{{ _("W32 port.") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>Nils Durner</h2>
    <p>{{ _("W32 port.") }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2><a href="http://ea.n0.is">ng0</a></h2>
    <p>{{ _("Documentation, packaging (Guix), System Integration") }}</p>
  </div>
  <div class="col-lg-4">
    <h2>tg</h2>
    <p>{{ _("Multicast.") }}</p>
  </div>
</div>
</div>
{% endblock body_content %}
