{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
  <article>
    <section>
      <h3>{{ _("About GNUnet") }}</h3>
      <p>
	{% trans %}
        We still have to write this section. 
	{% endtrans %}
      </p>
    </section>
  </article>
</div>
{% endblock body_content %}
