{% extends "common/base.j2" %}
{% block body_content %}
<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("GNUnet System Architecture") }}</h1>
    <p>
    </p>
  </div>
<div class="container">
  <img width="100%" src="images/gnunet-arch-full.svg"></img>
</div>

  <div class="row">
    <div class="col-lg-6">
      <h3>{{ _("Foundations") }}</h3>
      <p>
        {% trans %}
        The foundation of GNUnet are a distributed hash
	table (R5N), an SCTP-like end-to-end encrypted
	messaging layer (CADET), a public key infrastructure
	(GNS) and a pluggable transport
	system (TRANSPORT).  Using public keys for addresses
	and self-organized decentralized routing algorithms,
	these subsystems replace the traditional TCP/IP stack.
        {% endtrans %}
      </p>

    </div>
    <div class="col-lg-6">
      <h3>{{ _("Security") }}</h3>

      <p>
        {% trans %}
        GNUnet is implemented using a multi-process architecture.
	Each subsystem runs as a separate process, providing
        fault-isolation and enabling tight permissions to be
	granted to each subsystem.  Naturally, the
        implementation is a <a href="https://www.gnu.org/">GNU</a>
        package, and will always remain free software.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>

{% endblock body_content %}
