{% extends "common/base.j2" %}
{% block body_content %}
<div class="jumbotron">
  <div class="container text-center">
  <h1>{{ _("Advantages for Citizens") }}</h1>
  <!-- p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p -->
  <div class="col-lg-12">
    <p>
      {% trans %}
      Taler largely functions like digital cash.  You
      withdraw money from your bank account into your
      electronic wallet, and can henceforth spend digital
      cash.  The electronic wallet can carry multiple
      currencies.
      {% endtrans %}
    </p>
  </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-6">
      <h2>{{ _("Security") }}</h2>

      <p>{{ _("Taler uses modern cryptography, ensuring that there
               is no counterfeit.  Your digital wallet is safer
               than your physical wallet.  At most, you can lose
               its contents because your computer or mobile is
               irreparably damaged or compromised.  Unlike a
               physical wallet, you can make backups to secure
               against data loss.") }}</p>

    </div>
    <div class="col-lg-6">
      <h2>{{ _("Privacy") }}</h2>

      <p>{{ _("Your transactions are private, neither the exchange
               nor merchant needs to learn your identity. There is
               no need to give out credit card numbers or other
               sensitive information. The merchant will only be
               able to do exactly the transaction you agreed to.")
               }}</p>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>{{ _("Convenience") }}</h2>

      <p>{{ _("You will be able to withdraw money to replenish the
               digital coins in your wallet using your credit card
               or wire transfers.  Afterwards you can pay with
               one-click using the Taler wallet, which optionally
               keeps your transaction history on your computer.")
               }}</p>

    </div>
    <div class="col-lg-6">
      <h2>{{ _("Stability") }}</h2>

      <p>{{ _("Coins in your digital wallet will be of the same
               denomination as the cash in your physical wallet.
               Taler is not a crypto-currency, so you do not have
               to worry about cryto-currency related value
               fluctuations.  Banking with Taler is subject to the
               usual government protections for finanical
               services.") }}</p>

    </div>
  </div>
</div>

<div class="contianer-fluid c_acronym">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>{{ _("Wallet Browser Extension") }}</h2>
      <p>
        {% trans %}
        We currently provide a <a href="wallet.html">wallet browser extension</a> for Chromium, Chrome, Firefox, Opera
        and Edge.  Wallets for mobile phones and other platforms will be available in the future.
        {% endtrans %}
      </p>
    </div>
    <div class="col-lg-6">
      <h2>{{ _("Taler Demo") }}</h2>
      <p>
        {% trans %}
        You can see how Taler works in practice by visiting our <a href="https://demo.taler.net">demo page</a>.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>
</div>


<div class="container">

  <div class="col-lg-6">
    <h2 id="overview">{{ _("The Taler Wallet for customers") }}</h2>

    <p>{{ _("Customers interact with the Taler system using
             the Taler wallet:") }}</p>
    <ul>
        <li>{{ _("To <b>withdraw</b> electronic coins, the customer transfers funds
                  from his bank account to the Taler exchange.  The wire
                  transfer subject must match a code generated by the customer's
                  wallet. After the wire transfer is complete, the wallet will
                  automatically withdraw the coins.") }}</li>

        <li>{{ _("To <b>spend</b> electronic coins, a merchant must cause the wallet
                  to display a proposal and ask for one-click confirmation.
                  Payment is then instant.
                  Transaction histories and digitally signed contracts can be
                  preserved by the wallet.") }}</li>

        <li>{{ _("The customer can use the wallet to <b>review</b> his
                  balance. The wallet can contain different currencies,
                  and may be shared across devices. Customers can make
                  backups of the wallet to secure its contents against
                  hardware failures.") }}</li>
    </ul>
  </div>
  <div class="col-lg-6">
    <img src="{{ url('images/citizen.svg') }}" alt="customer perspective" style="float: right; margin: 5px 5px 5px 5px;" width="100%">
  </div>


</div> <!-- /container -->
{% endblock body_content %}
