{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Contact information") }}</h1>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-6">
    <h2>{{ _("The mailing list") }}</h2>
      <p>
        {% trans %}
            An archived, public mailing list for GNUnet is
            hosted at
            <a href="https://lists.gnu.org/mailman/listinfo/gnunet-developers">https://lists.gnu.org/mailman/listinfo/gnunet-developers</a>.  You can send messages to the list
            at <a href="mailto:gnunet-developers@gnu.org">gnunet-developers@gnu.org</a>.
        {% endtrans %}
      </p>
  </div>

  <div class="col-lg-6">
    <h2>{{ _("Contacting individuals") }}</h2>
    <p>
        {% trans %}
             GNUnet developers are generally reachable at
             <tt>PSEUDONYM@gnunet.org</tt>.  Most of us
             support receiving GnuPG encrypted Emails.
        {% endtrans %}
    </p>
  </div>

  <div class="col-lg-6">
    <h2>{{ _("Reporting bugs") }}</h2>
    <p>
        {% trans %}
             We track open feature requests and bugs for projects
             within GNUnet in our
             <a href="https://gnunet.org/bugs/">Bug tracker</a>.
             You can also report bugs or feature requests to the
             <a href="https://lists.gnu.org/mailman/listinfo/bug-gnunet">bug-gnunet</a>
             mailing list.  The mailinglist requires no subscription.
        {% endtrans %}
    </p>
  </div>

</div>
</div>
{% endblock body_content %}
