{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">

<h2>{{ _("Q?") }}</h2>
{% trans %}
<p>
A:
</p>
{% endtrans %}
{% trans %}
<p>
A:
</p>
{% endtrans %}

</div>
{% endblock body_content %}
