{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
<h2>How is Taler related to Bitcoin or Blockchains?</h2>

<h2>Where is the balance in my wallet stored?</h2>

<h2>What if my wallet gets lost?</h2>
</div>
{% endblock body_content %}
