{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">

<dl>
<dt>{{ _("term") }}</dt>
  <dd>
    {% trans %}
      explanation
    {% endtrans %}
  </dd>
</dt>
</div>
{% endblock body_content %}
