<!DOCTYPE html>
<html lang="{{ _('en') }}">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ _("GNU Taler") }} - {{ _("Governments") }}</title>
    <meta name="description" content=""/>
    {% include "common/header.j2.inc" %}
  </head>
  <body>
    <div class="container">
      {% include "common/navigation.j2.inc" %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>{{ _("Advantages for governments") }}</h1>
        <!-- p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p -->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <h2>{{ _("Taxable") }}</h2>

          <p>{{ _("Taler is an electronic payment system that was built with the goal of supporting taxation.
             With Taler, the receiver of any form of payment is known, and the payment information comes
             attached with some details about what the payment was made for (but not the identity of the customer).  Thus, governments can use this
             data to tax buisnesses and individuals based on their income, making tax evasion and
             black markets less viable.") }}</p>
        </div>
        <div class="col-lg-6">
          <h2>{{ _("Secure") }}</h2>

          <p>{{ _("Taler's payments are cryptographically secured. Thus, customers, merchants and
             the exchange can mathematically demonstrate their lawful behavior in court in case
             of disputes. Financial damages are strictly limited, improving economic security
             for individuals, merchants, the exchange and the state.  Most importantly, an
             independent auditor can ensure that there is no &quot;bad exchange&quot;
             within the Taler system who might threaten the economy due to fraud.") }}</p>
       </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2>{{ _("Libre") }}</h2>

          <p>{{ _("Taler is free software implementing an open protocol standard.  Thus, Taler will
             enable competition and avoid the monopolization of payment systems that threatens
             global political and financial stability today.") }}</p>
        </div>
        <div class="col-lg-6">
          <h2>{{ _("Efficient") }}</h2>

          <p>{{ _("Taler is designed to be efficient.  Unlike timeline-based payment systems like
             BitCoin, Taler will not threaten the availability of national electric grids or
             (significantly) contribute to environmental pollution.") }}</p>
        </div>
      </div>
      <div class="col-lg-12">
        <h2 id="overview">{{ _("Taler as seen by governments") }}</h2>

        <p>{{ _("Governments can observe traditional wire
          transfers entering and leaving the Taler system, and
          require merchants and exchange operators to provide certain
          information during financial audits.  Exchange operators
          are expected to be permanently checked by auditors,
          while merchants may be required to reveal information
          during regular tax audits.
          Information available to the government includes:
        ") }}</p>
        <p>
          <img src="{{ url('images/government.svg') }}" alt="government perspective" style="float: right; margin: 50px 5px 5px 5px;" width="50%">
          </p><ul>
            <li>{{ _("From the banking system:
              The total amount of digital currency
              obtained by a customer. The government could impose
              limits on how many digital coins a customer may
              withdraw within a given timeframe.") }}</li>

             <li>{{ _("From the banking system:
               The total amount of income received
               by any merchant via the Taler system.") }}</li>

             <li>{{ _("From auditing the exchange:
               The amounts of digital coins legitimately withdrawn by
               customers from the exchange, the value of non-redeemed digital coins
               in customer's wallets, the value and corresponding wire details
               of deposit operations performed by merchants with the exchange, and
               the income of the exchange from transaction fees.") }}</li>

            <li>{{ _("From auditing merchants:
               For each deposit operation, the exact details of the
               underlying contract that was signed between
               customer and merchant.  However, this information would
               typically not include the identity of the customer.
               Note that while the customer can decide to prove that it was his
               transaction (i.e. in court when suing the merchant if the
               merchant failed to deliver on the contract),
               merchant, exchange and government cannot find out the customer's
               identity from the information that Taler collects.") }}</li>
          </ul>
        <p></p>
      </div>
      {% include "common/footer.j2.inc" %}
    </div> <!-- /container -->
  </body>
</html>
