<html lang="{{ _('en') }} "><head>
    <meta charset="utf-8">
    <title>{{ _("GNU Taler") }}</title>
    <meta name="description" content="Anonymous electronic payments for civil society">
      <!--# include file="common/header.{{ _("en") }}.inc" -->
  </head>
  <body class="en" onload="loadLang();">
    <div class="container">
      <!--# include file="common/navigation.{{ _("en") }}.inc" -->
      <!-- Jumbotron -->
      <div class="jumbotron">
        <img align="middle" alt="Taler logo" width="33%" src="/images/logo-2015-medium.png" style="margin: 0px 0px -120px 0px;">
      </div>
      <div class="jumbotron">
         <h1>{{ _("Electronic payments for a liberal society!") }}</h1>
	 <p>{{ _("Taler is a new electronic payment system under development
	    at <a href='http://www.inria.fr/'>Inria</a>.  Today, this website only
	    presents the advantages our system is expected to provide.  We expect to
	    make the payment system operational in 2017.") }}</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>{{ _("Taxable") }}</h2>
	  <p>{{ _("Unlike BitCoin or cash payments, Taler ensures that
	     governments can learn their citizen's total income and thus collect
	     sales, value-added or income taxes. Taler is thus a currency for the
	     mainstream economy, and not the black market.") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("Anonymous") }}</h2>
	  <p>{{ _("When you pay with Taler, your identity does not have to
	     be revealed to the merchant. The bank, government and exchange will also
	     never learn how you spent your electronic money. However, you can
	     prove that you paid in court if necessary.") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("Libre") }}</h2>
	  <p>{{ _("Taler is free software from <a href='http://www.gnu.org/'>GNU</a> implementing an open protocol.
	     Anybody is welcome to inspect our code and integrate our reference
	     implementation into their applications.") }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>{{ _("Electronic") }}</h2>
	  <p>{{ _("Taler is designed to work on the Internet. Using a
	    so-called RESTful protocol over HTTP or HTTPS, Taler is easy to
	    integrate with existing Web applications.") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("Reserves") }}</h2>
	  <p>{{ _("Taler uses an electronic exchange holding financial
             reserves in existing currencies. This means that Taler is not
	     a new currency with the inherent currency fluctuation risks, but
	     instead the cryptographic coins correspond to existing currencies, such as
	     US Dollars, Euros or even BitCoins.") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("News") }}</h2>
	  <p>{{ _("Taler Web payments paper published.") }}</p>
          <p><a class="btn btn-primary" href="news" role="button">{{ _("More news »") }}</a></p>
        </div>
      </div>
       <div class="col-lg-12">
         <h2 id="taxability">{{ _("Taler technology: About taxability, change and privacy") }}</h2>
         <p>{{ _("One of the key goals of Taler is to provide anonymity for
           citizens buying goods and services, while ensuring that the state can
           observe incoming transactions to ensure businesses engage only in
           legal activities and do not evade taxes (such as income tax,
           sales tax or value-added tax).  However, we also want to stay
           out of the immediate personal domain, so sharing funds within a
           family or copying coins between devices should not be subject to
           monitoring by the state.
         ") }}</p>
         <p>{{ _("As a result, Taler does not intrude into the
           personal economic domain, offers good privacy, taxability
           for transactions and the ability to give change.
         ") }}</p>
       </div>
       <!--# include file="common/footer.{{ _("en") }}.inc" -->
    </div> <!-- /container -->
  </body>
</html>
