<html lang="{{ _('en') }}"><head>
    <meta charset="utf-8">
    <title>{{ _("GNU Taler") }} - {{ _("Investors") }}</title>
    <meta name="description" content="">
      <!--# include file="common/header.inc" -->
  </head>
  <body class="en" onload="loadLang();">
    <div class="container">
      <!--# include file="common/navigation.inc" -->
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>{{ _("Operate a Taler exchange!") }}</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>{{ _("Efficient") }}</h2>

          <p>{{ _("Taler uses efficient cryptographic primitives (such as RSA 2048 and
             EdDSA) and is thus expected to be able to handle large transaction
             volumes, only limited by the input/output capabilities of the
             database. Thus, running a Taler exchange should be profitable even
             with very low (less than 1 cent) transaction fees (at appropriate
             transaction volume).") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("Secure") }}</h2>

          <p>{{ _("All transactions in Taler are secured using modern cryptography and
             trust in all parties is minimized. Financial damage is bounded
             (for customers, merchants and the exchange) even
             in the case that systems are compromised and private keys are stolen.
             Databases can be audited for consistency, resulting in either the
             detection of compromised systems or the demonstration that
             participants were honest.") }}</p>
        </div>
        <div class="col-lg-4">
          <h2>{{ _("Business model") }}</h2>

          <p>{{ _("The basic business model for Taler is the operation of an exchange.  An exchange converts money from traditional payment systems (Mastercard,
             SEPA, Visa, BitCoin, ACH, SWIFT, etc.) to anonymous electronic
             coins in the same currency. The customer can then redeem the electronic
             coins at a merchant, who can exchange them for money represented using
             traditional payment systems at the exchange.  The exchange can then charge
             fees (to the customer, merchant or both) to facilitate the transactions.") }}</p>
        </div>
      </div>
      <div class="col-lg-12">
        <h2 id="overview">{{ _("Taler as seen by the exchange operator") }}</h2>

        <p>{{ _("The exchange operator primarily operates a Web service
          portal and keeps databases with transaction details and
          cryptographic proofs.  Its operational expenses are thus related to
          its interactions with the banking system and the operation of
          the computing infrastructure, while its income is based on
          transaction fees it may charge for the various interactions.
          Key interactions of the exchange include:
        ") }}</p>

        <p>
          <img src="images/exchange.svg" alt="operator perspective" style="float: right; margin: 50px 5px 5px 5px;" width="50%">
          </p><ul>
            <li>{{ _("Create a <b>reserve</b> based on an incoming
              wire transfer from a customer.") }}</li>

            <li>{{ _("Allow customers to withdraw (and refresh)
               digital coins from their reserve.") }}</li>

            <li>{{ _("Accept and validate deposits from merchants.") }}</li>

            <li>{{ _("Execute wire transfers to merchants in
               response to validated deposits.") }}</li>

            <li>{{ _("Preserve and provide cryptographic proofs of
               correct operation for audits by financial regulators.") }}</li>
          </ul>
        <p></p>
      </div>
      <!--# include file="common/footer.inc" -->
    </div> <!-- /container -->
  </body>
</html>
