body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 12px 22px;
  font-size: 19px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background: #fff;
}
.nav-justified > li > a {
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: normal;
  color: #000;
  text-align: center;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
}

.nav-justified > .m_demo > a {
  font-weight: bold;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-taler {
  background-color: #fff;
  border-bottom: 2px solid #eee;
}

.navbar-taler .navbar-toggle {
  border-color: #ddd;
}
.navbar-taler .navbar-toggle:hover,
.navbar-taler .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-taler .navbar-toggle .icon-bar {
  background-color: #888;
}

