.lang-slector {
	float: right;
	padding-top: 2mm;
	padding-bottom: 4mm;
	margin-left:  15px;
	margin-right: 15px;
}
html {
	overflow-y: scroll;
}

.c_acronym {
  background-color: #c9ffe2;
}

.c_intro {
  height: 97vh;
}

/* don't show the language selector in the dropdown on mobile devices,
 * since it's in the top bar already.
 */
.in .nav-lang {
  display: none;
}

.mobile-lang {
  margin-left:5px;
  margin-top: 8px;
}
