{% extends "common/base.j2" %}
{% block body_content %}
<section class="team">
  <!-- list alphabetical, first those with images, then those without -->
  <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-lg-12">
	<h6 class="description">The developer team working on GNUnet</h6>
	<div class="row pt-md">
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	  <!-- <div class="col-6 col-md-4 profile"> -->
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/christian-grothoff.jpg') }}" alt="Christian Grothoff" class="img-fluid">
	      <ul class="text-center">
		<a href="https://grothoff.org/christian"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1><a href="https://grothoff.org/christian/">Christian Grothoff</a></h1>
	    <h2>{{ _("GNU maintainer.") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	  <!-- <div class="col-6 col-md-4 profile"> -->
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="dvn" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>dvn</h1>
	    <h2>{{ _("Continuous Integration, secushare, packaging (Guix).") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	  <!-- <div class="col-6 col-md-4 profile"> -->
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/florian-dold.jpg') }}" alt="Florian Dold" class="img-fluid">
	      <ul class="text-center">
		<a href="https://fdold.eu"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1>Florian Dold</h1>
	    <h2>{{ _("Set, Consensus, Voting") }}</h2>
	    <p></p>
	  </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
          <!-- <div class="col-6 col-md-4 profile"> -->
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/jeff-burdges.jpg') }}" alt="Jeffrey Burdges" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>Jeffrey Burdges</h1>
	    <h2>{{ _("Mix networking") }}</h2>
	    <p></p>
          </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="Julius B&uuml;nger" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>Julius B&uuml;ger</h1>
	    <h2>{{ _("Random peer sampling") }}</h2>
	    <p></p>
          </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="lurchi" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>lurchi</a></h1>
	    <h2>{{ _("secushare, Social, PSYC, Multicast") }}</h2>
	    <p></p>
          </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/schanzenbach.jpg') }}" alt="Martin Schanzenbach" class="img-fluid">
	      <ul class="text-center">
          <a href="https://schanzen.eu"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1>Martin Schanzenbach</h1>
	    <h2>{{ _("GNU Name System, Identity Management, ABE.") }}</h2>
	    <p></p>
          </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/sree-harsha-totakura.jpg') }}" alt="Sree Harsha Totakura" class="img-fluid">
	      <ul class="text-center">
		<a href="http://sreeharsha.totakura.in/"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1>Sree Harsha Totakura</h1>
	    <h2>{{ _("Testbed, voice.") }}</h2>
	    <p></p>
           </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/t3sserakt.jpg') }}" alt="t3sserakt" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>t3sserakt</h1>
	    <h2>{{ _("secushare, Social, PSYC, Multicast.") }}</h2>
	    <p></p>
           </div>
	   <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="wldhx" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>wldhx</h1>
	    <h2>{{ _("Web site, packaging (Nix/Guix).") }}</h2>
	    <p></p>
           </div>
	   <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="lynX" class="img-fluid">
	      <ul class="text-center">
		<a href="http://my.pages.de"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1>carlo von lynX</h1>
	    <h2>{{ _("secushare, PSYC, multicast, advocacy, sights and sounds, UX.") }}</h2>
	    <p></p>
           </div>
	   <div class="col-lg-3 col-md-3 col-sm-4 col-12 profile">
	    <div class="img-box">
	      <!-- was: height="240" -->
	      <img src="{{ url('team-images/default.png') }}" alt="Christian K&uuml;hne" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>Christian K&uuml;hne</h1>
	    <h2>{{ _("secushare, Social, PSYC, Multicast, data protection theory.") }}</h2>
	    <p></p>
           </div>
	   <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	    <div class="img-box">
	      <img src="{{ url('team-images/default.png') }}" alt="Bart Polot" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>Bart Polot</h1>
	    <h2>{{ _("NSE, CADET.") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	    <div class="img-box">
	      <img src="{{ url('team-images/default.png') }}" alt="LRN" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>LRN</h1>
	    <h2>{{ _("W32 port.") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	    <div class="img-box">
	      <img src="{{ url('team-images/default.png') }}" alt="Nils Durner" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>Nils Durner</h1>
	    <h2>{{ _("W32 port.") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	    <div class="img-box">
	      <img src="{{ url('team-images/ng0.jpg') }}" alt="ng0" class="img-fluid">
	      <ul class="text-center">
	      <a href="https://n0.is"><li><i class="fas fa-home"></i></li></a>
	      </ul>
	    </div>
	    <h1>ng0</h1>
	    <h2>{{ _("Documentation, Website, libgnurl, System Integration, Build System, packaging (NetBSD pkgsrc, Guix, Gentoo,...).") }}</h2>
	    <p></p>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
	    <div class="img-box">
	      <img src="{{ url('team-images/default.png') }}" alt="tg" class="img-fluid">
	      <ul class="text-center">
	      </ul>
	    </div>
	    <h1>tg</h1>
	    <h2>{{ _("Multicast.") }}</h2>
	    <p></p>
	  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock body_content %}
