{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">

<h2>{{ _("Tutorial") }}</h2>


<div class="container-fluid adorn_h3_bracket c_acronym">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      <a href="tutorial-ubuntu1804">GNUnet on Ubuntu 18.04</a>
      </div>
      <div class="col-lg-3">
      <a href="tutorial-archpi.html">GNUnet on Arch-Pi</a>
      </div>
      <div class="col-lg-3">
      <a href="tutorial-debian9.html">GNUnet on Debian 9</a>
      </div>
    </div>
  </div>
</div>
  
  
</div>
{% endblock body_content %}
