{% extends "common/news.j2" %}
{% block body_content %}
  <h1>Launching the new gnunet.org</h1>
<p>
  Welcome to the redesign of gnunet.org, our website about GNUnet.
</p>
{% endblock body_content %}
