{% extends "common/news.j2" %}
{% block body_content %}
  <h3>2017-10: Launching the new gnunet.org</h3>
<p>
  Welcome to the redesign of gnunet.org, our website about GNUnet.
</p>
{% endblock body_content %}
