{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNS&#64;ICANN66</h1>
<p>
  The <a href="https://meetings.icann.org/en/montreal66">ICANN Annual General Meeting</a> is concluded. We were invited to join a panel discussion on <i>Emerging Internet Identifier Technologies</i> in order to share our ideas and work on the <i>GNU Name System (GNS)</i>.
</p>
<p>
  You can find the presentation on GNS in <a href="{{ url_localized('video.html') }}">our video section</a>. The handshake.org project, which proposes a decentralized, blockchain-based governance of the root zone (as opposed to governance by ICANN), joined us on the panel. The full video including questions and answers can be found <a href="https://icann.zoom.us/recording/share/M8N-Duq935XheIZoBedIwmi3VqRUAe2iOPwECiTNLxKwIumekTziMw?startTime=1572978711000">here</a>.
</p>
{% endblock body_content %}
