{% extends "common/news.j2" %}
{% block body_content %}
  <h1>2019-07-17: GNUnet Hacker Meeting in August 2019 at <a href="https://">Wernsdort (near Berlin)</a></h1>
  <p>
    In August 2019, some of us met in Wernsdorf for focused work on GNUnet.
  </p>
{% endblock body_content %}
