{% extends "common/news.j2" %}
{% block body_content %}
  <h1>Upcoming GNUnet Talks</h1>
  There will be various talks in the next few months on GNUnet and related
  projects. Here is an overview:
  <h2>Privacy and Decentralization @ 36c3 (YBTI)</h2>
  <p>
    We are pleased to have 5 talks to present as part of our
    "youbroketheinternet/wefixthenet" session, taking place on the
    <a href="https://oio.social/">OIO (Open
    Infrastructure Orbit)</a> stage:
  </p>

    <ul>
      <li>
        "re:claimID - Self-sovereign, Decentralised Identity Management and
        Personal Data Sharing" by Hendrik Meyer zum Felde
        will take place at 2019-12-27 18:30 in OIO Stage.
        <a href="https://talks.oio.social/36c3-oio/talk/XHLTUD/">Info</a>
      </li>
      <li>
        "Buying Snacks via NFC with GNU Taler" by Dominik Hofer
        will take place at 2019-12-27 21:20 in OIO Stage
        <a href="https://talks.oio.social/36c3-oio/talk/MMB78C/">Info</a>
      </li>
      <li>
        "CloudCalypse 2: Social network with net2o" by Bernd Paysan
        will take place at 2019-12-28 21:20 in OIO Stage
        <a href="https://talks.oio.social/36c3-oio/talk/GUZH7V/">Info</a>
      </li>
      <li>
        "Delta Chat: e-mail based messaging, the Rustocalypse and UX driven
        approach" by holger krekel
        will take place at 2019-12-29 17:40 in OIO Stage
        <a href="https://talks.oio.social/36c3-oio/talk/WSLWVM/">Info</a>
      </li>
      <li>
        "Cryptography of Killing Proof-of-Work” by Jeff Burdges
        will take place at 2019-12-30 12:00 in OIO Stage
        <a href="https://talks.oio.social/36c3-oio/talk/GGV8G3/">Info</a>
      </li>
    </ul>

  <p>
    In addition to these talks, we will be hosting a snack machine which
    accepts <a href="https://taler.net">Taler</a> for payment.
    The first of its kind! It will be filled
    with various goodies, including Swiss chocolates, books, and electronics.
    The machine will be located somewhere in the OIO assembly, and there
    will be a station at which you may exchange Euro for digital Euro for
    immediate use.
    We welcome all to come try it out. :)
  </p>
  <h2>Decentralized Internet and Privacy devroom @FOSDEM 2020</h2>
  <p>
    We have 2 GNUnet-related talks at the
    <a href="https://fosdem.org/2020/schedule/track/decentralized_internet_and_privacy/">
    Decentralized Internet and Privacy devroom</a> at FOSDEM 2020 in February:
  </p>
  <ul>
    <li>
      GNUnet: A network protocol stack for building secure, distributed, and
      privacy-preserving applications
      <a href="https://fosdem.org/2020/schedule/event/dip_gnunet/">Info</a>
    </li>
    <li>
      Knocking Down the Nest: secushareBOX - p2p, encrypted IoT and beyond...
      <a href="https://fosdem.org/2020/schedule/event/dip_secusharebox/">Info</a>
    </li>
  </ul>
{% endblock body_content %}
