{% extends "common/news.j2" %}
{% block body_content %}
  <h1><a name="DSTJ">2019-06-28: Peer DSTJ is dead, long live peer Y924</a></h1>
<p>
  After some issues with our infrastructure we needed to replace our bootstrapping peer. To avoid problems when connecting to GNUnet the operator of a peer needs to update its node by removing the peer ID <tt>DSTJBRRKZ8TBW3FGK6B0M5QXWT9WYNZ45H5MCV4HY7ST64Q8T9F0</tt> from the system. Here are two strategies to find copies of the respective file:
</p>
<ol>
  <li><tt>$ locate DSTJBRRKZ8TBW3FGK6B0M5QXWT9WYNZ45H5MCV4HY7ST64Q8T9F0</tt></li>
  <li><tt>$ find / -name DSTJBRRKZ8TBW3FGK6B0M5QXWT9WYNZ45H5MCV4HY7ST64Q8T9F0</tt></li>
</ol>
<p>
  Update: DSTJ has now been blacklisted. Please update your GNUnet peer.
</p>
{% endblock body_content %}
