{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNUnet 0.12.0 released</h1>
<p>
  We are pleased to announce the release of GNUnet 0.12.0.
<br>
  This is a new major release. It breaks protocol compatibility with the 0.11.x versions.
  In terms of usability, users should be aware that there are still
  <b>a large number of known open issues</b> in particular with respect to ease
  of use, but also some critical privacy issues especially for mobile users.
  Also, the nascent network is tiny (about 200 peers) and thus unlikely to
  provide good anonymity or extensive amounts of interesting information.
  As a result, the 0.12.0 release is still <b>only suitable for early adopters
  with some reasonable pain tolerance</b>.
</p>
<h4>Download links</h4>
<ul>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-0.12.0.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.11.7.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.11.7.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.11.7.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.11.7.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.11.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.11.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.11.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.11.0.tar.gz.sig</a></li>
</ul>
<p>
  gnunet-fuse and gnunet-gtk were not released again, as there were no changes
  and the 0.11.0/0.11.7 versions are expected to continue to work fine with
  gnunet-0.12.0. The GPG key used to sign is:
  <tt>TODO</tt>
</p>
<p>
  Note that due to mirror synchronization, not all links might be functional
  early after the release. For direct access try
  <a href="http://ftp.gnu.org/gnu/gnunet/">http://ftp.gnu.org/gnu/gnunet/</a>
</p>
<h4>Noteworthy changes in 0.12.0 (since 0.11.8)</h4>
<ul>
  <li><tt>GNS</tt>: Changed key derivation protocols to adhere with <a href="">LSD001</a>. <a href="https://bugs.gnunet.org/view.php?id=5921">#5921</a></li>
  <li><tt>GNS</tt>: GNS names are not expected to be UTF-8 (as opposed to IDNA). <a href="https://bugs.gnunet.org/view.php?id=5922">#5922</a></li>
  <li><tt>GNS</tt>: GNS NSS plugin now properly handles non-standard IDNA names. <a href="https://bugs.gnunet.org/view.php?id=5927">#5927</a></li>
  <li><tt>GNS/NSE</tt>: Zone revocation proof of work algorithm changed to be less susceptible to specialized ASIC hardware.
  <a href="https://bugs.gnunet.org/view.php?id=3795">#3795</a></li>
  <li><tt>TRANSPORT</tt>: UDP plugin moved to experimental as it is known to be unstable.</li>
  <li><tt>UTIL</tt>: Improved and documented RSA binary format. <a href="https://bugs.gnunet.org/view.php?id=5968">#5968</a></li>
  <li><tt>UTIL</tt>: Removed redundant hashing in EdDSA signatures. <a href="https://bugs.gnunet.org/view.php?id=5398">#5398</a></li>
  <li><tt>Buildsystem</tt>: A significant number of build system issued have been fixed and improvements implemented.</li>
</ul>
<h4>Known Issues</h4>
<ul>
  <li>There are known major design issues in the TRANSPORT, ATS and CORE subsystems which will need to be addressed in the future to achieve acceptable usability, performance and security.</li>
  <li>There are known moderate implementation limitations in CADET that negatively impact performance.</li>
  <li>There are known moderate design issues in FS that also impact usability and performance.</li>
  <li>There are minor implementation limitations in SET that create unnecessary attack surface for availability.</li>
  <li>The RPS subsystem remains experimental.</li>
  <li>Some high-level tests in the test-suite fail non-deterministically due to the low-level TRANSPORT issues.</li>
</ul>
<p>
  In addition to this list, you may also want to consult our bug tracker at <a href="https://bugs.gnunet.org/">bugs.gnunet.org</a> which lists about 190 more specific issues.
</p>

<h4>Thanks</h4>
<p>
  This release was the work of many people. The following people contributed code and were thus easily identified:
  ng0, Christian Grothoff, Florian Dold, xrs, Naomi Phillips and Martin Schanzenbach.
</p>
{% endblock body_content %}
