{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNUnet 0.14.0 released</h1>
<p>
  We are pleased to announce the release of GNUnet 0.14.0.
<br>
  This is a new major release. It breaks protocol compatibility with the 0.13.x versions.
  Please be aware that Git master is thus henceforth <b>INCOMPATIBLE</b> with
  the 0.13.x GNUnet network, and interactions between old and new peers
  will result in issues.  0.13.x peers will be able to communicate with Git
  master or 0.13.x peers, but some services will not be compatible.<br/>
  In terms of usability, users should be aware that there are still
  <b>a large number of known open issues</b> in particular with respect to ease
  of use, but also some critical privacy issues especially for mobile users.
  Also, the nascent network is tiny and thus unlikely to
  provide good anonymity or extensive amounts of interesting information.
  As a result, the 0.14.0 release is still <b>only suitable for early adopters
  with some reasonable pain tolerance</b>.
</p>
<h4>Download links</h4>
<ul>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.14.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-0.14.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.14.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-0.14.0.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.14.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.14.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.14.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.14.0.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.14.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.14.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.14.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.14.0.tar.gz.sig</a></li>
</ul>
<p>
  The GPG key used to sign is: <tt>3D11063C10F98D14BD24D1470B0998EF86F59B6A</tt>
</p>
<p>
  Note that due to mirror synchronization, not all links might be functional
  early after the release. For direct access try
  <a href="http://ftp.gnu.org/gnu/gnunet/">http://ftp.gnu.org/gnu/gnunet/</a>
</p>
<h4>Noteworthy changes in 0.14.0 (since 0.13.3)</h4>
<ul>
  <li><tt>GNS</tt>:
    <ul>
      <li>Aligned with specification <a href="https://lsd.gnunet.org/lsd0001/">LSD001</a>.
      <li>Crypto agility: The GNS protocol now supports other zone keys besides ECDSA.
      However, EdDSA zone keys are currently not yet implemented. <a href="https://bugs.gnunet.org/view.php?id=6485">#6485</a></li>
      <li>Symmetric encryption: Records are now encrypted using AES-CTR instead of AES-CBC. <a href="https://bugs.gnunet.org/view.php?id=6487">#6487</a></li>
    </ul>
  </li>
  <li>
    <tt>POSTGRESQL</tt>: Allow NULL value returns and fix test cases. <a href="https://bugs.gnunet.org/view.php?id=6524">#6524</a>
  </li>
  <li><tt>UTIL</tt>:
    <ul>
      <li>String time conversion functions no longer localized to preserve reversibility. <a href="https://bugs.gnunet.org/view.php?id=6615">#6615</a></li>
    </ul>
  </li>
  <li><tt>Buildsystem</tt>: README updates to clarify runtime/compile/optional dependencies</li>
  <li><b>(NEW)</b> <tt>MESSENGER</tt>: New messenger component (experimental)</li>
</ul>
A detailed list of changes can be found in the <a href="https://git.gnunet.org/gnunet.git/tree/ChangeLog">ChangeLog</a> and
the <a href="https://bugs.gnunet.org/changelog_page.php?project_id=13">0.14.0 bugtracker</a>.
<h4>Known Issues</h4>
<ul>
  <li>There are known major design issues in the TRANSPORT, ATS and CORE subsystems which will need to be addressed in the future to achieve acceptable usability, performance and security.</li>
  <li>There are known moderate implementation limitations in CADET that negatively impact performance.</li>
  <li>There are known moderate design issues in FS that also impact usability and performance.</li>
  <li>There are minor implementation limitations in SET that create unnecessary attack surface for availability.</li>
  <li>The RPS subsystem remains experimental.</li>
  <li>Some high-level tests in the test-suite fail non-deterministically due to the low-level TRANSPORT issues.</li>
</ul>
<p>
  In addition to this list, you may also want to consult our bug tracker at <a href="https://bugs.gnunet.org/">bugs.gnunet.org</a> which lists about 190 more specific issues.
</p>

<h4>Thanks</h4>
<p>
  This release was the work of many people. The following people contributed code and were thus easily identified:
  Christian Grothoff, Daniel Golle, t3sserakt, TheJackiMonster and Martin Schanzenbach.
</p>
{% endblock body_content %}
