{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNUnet 0.13.0 released</h1>
<p>
  We are pleased to announce the release of GNUnet 0.13.0.
<br>
  This is a new major release. It breaks protocol compatibility with the 0.12.x versions.
  Please be aware that Git master is thus henceforth <b>INCOMPATIBLE</b> with
  the 0.12.x GNUnet network, and interactions between old and new peers
  will result in signature verification failures.  0.12.x peers will <b>NOT</b>
  be able to communicate with Git master or 0.13.x peers.<br/>
  In terms of usability, users should be aware that there are still
  <b>a large number of known open issues</b> in particular with respect to ease
  of use, but also some critical privacy issues especially for mobile users.
  Also, the nascent network is tiny and thus unlikely to
  provide good anonymity or extensive amounts of interesting information.
  As a result, the 0.13.0 release is still <b>only suitable for early adopters
  with some reasonable pain tolerance</b>.
</p>
<h4>Download links</h4>
<ul>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.13.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-0.13.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.13.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-0.13.0.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.13.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.13.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.13.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-gtk-0.13.0.tar.gz.sig</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.13.0.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.13.0.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.13.0.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-fuse-0.13.0.tar.gz.sig</a></li>
</ul>
<p>
  The GPG key used to sign is: <tt>3D11063C10F98D14BD24D1470B0998EF86F59B6A</tt>
</p>
<p>
  Note that due to mirror synchronization, not all links might be functional
  early after the release. For direct access try
  <a href="http://ftp.gnu.org/gnu/gnunet/">http://ftp.gnu.org/gnu/gnunet/</a>
</p>
<h4>Noteworthy changes in 0.13.0 (since 0.12.2)</h4>
<ul>
  <li><tt>GNS</tt>:
    <ul>
      <li>Aligned with specification <a href="https://git.gnunet.org/lsd0001.git/tree/draft-schanzen-gns.txt">LSD001</a>.
      <li>NSS plugin "block" fixed. <a href="https://bugs.gnunet.org/view.php?id=5782">#5782</a></li>
      <li>Broken set NICK API removed.<a href="https://bugs.gnunet.org/view.php?id=6092">#6092</a></li>
       <li>New record flags: SUPPLEMENTAL. Records which are not explicitly
       configured/published under a specific label but which are still
       informational are returned by the resolver and flagged accordingly. <a href="https://bugs.gnunet.org/view.php?id=6103">#6103</a></li>

    </ul>
  </li>
  <li><tt>GNS/REVOCATION</tt>: Revocation proof of work has function changed to
  argon2 and modified to reduce variance.</li>
  <li><tt>RECLAIM</tt>: Increased ticket length to 256 bit. <a href="https://bugs.gnunet.org/view.php?id=6047">#6047</a></li>

  <li><tt>TRANSPORT</tt>: UDP plugin moved to experimental as it is known to be unstable.</li>
  <li><tt>UTIL</tt>:
    <ul>
      <li>Serialization / file format of ECDSA private keys harmonized with
      other libraries. Old private keys will no longer work! <a href="https://bugs.gnunet.org/view.php?id=6070">#6070</a></li>
      <li>Now using <a href="https://doc.libsodium.org/">libsodium</a> for EC
      cryptography.</li>
    </ul>
  </li>
  <li><tt>Packaging</tt>: ?</li>
  <li><tt>GANA Registry</tt>: <a href="https://gana.gnunet.org">GANA</a></li>
  <li><tt>LSD subdomain and LSD0001 website:</tt>: <a href="https://lsd.gnunet.org/lsd0001">LSD0001</a></li>
  <li><tt>Continuous integration</tt>: <a href="https://buildbot.gnunet.org">Buildbot</a> set up.</li>
  <li><tt>Buildsystem</tt>: A significant number of build system changes:
    <ul>
      <li>libmicrohttpd and libjansson are now required dependencies.</li>
      <li>New dependencies: <a href="https://github.com/P-H-C/phc-winner-argon2">argon2</a> and <a href="https://doc.libsodium.org/">libsodium</a>.</li>
    </ul>
  </li>
</ul>
A detailed list of changes can be found in the <a href="https://git.gnunet.org/gnunet.git/tree/ChangeLog">ChangeLog</a> and
the <a href="https://bugs.gnunet.org/roadmap_page.php?version_id=338">0.13.0 bugtracker</a>.
<h4>Known Issues</h4>
<ul>
  <li>There are known major design issues in the TRANSPORT, ATS and CORE subsystems which will need to be addressed in the future to achieve acceptable usability, performance and security.</li>
  <li>There are known moderate implementation limitations in CADET that negatively impact performance.</li>
  <li>There are known moderate design issues in FS that also impact usability and performance.</li>
  <li>There are minor implementation limitations in SET that create unnecessary attack surface for availability.</li>
  <li>The RPS subsystem remains experimental.</li>
  <li>Some high-level tests in the test-suite fail non-deterministically due to the low-level TRANSPORT issues.</li>
</ul>
<p>
  In addition to this list, you may also want to consult our bug tracker at <a href="https://bugs.gnunet.org/">bugs.gnunet.org</a> which lists about 190 more specific issues.
</p>

<h4>Thanks</h4>
<p>
  This release was the work of many people. The following people contributed code and were thus easily identified:
  ng0, Christian Grothoff, Florian Dold, xrs and Martin Schanzenbach.
</p>
{% endblock body_content %}
