{% extends "common/base.j2" %}
{% block body_content %}
  <div class="container-fluid">
    <div class="container">
      <article>
        <div class="row">
          <div class="container text-center">
            <h1>{{ _("News") }}<a name="news"></a></h1>
            <section>
              <p>
                News posts published by GNUnet about changes related to
                GNUnet, releases, and events.
              </p>
            </section>
          </div>
        </div>
        <div class="row">
          {% for item in newsdata %}
            <div class="col-lg-4">
              <section class="item-preview">
                <header>
                  <h3>{{ item['title'] }}</h3>
                  <p class="item-date">
                    {{ item['date'] }}
                  </p>
                </header>
                <p class="item-abstract">
                  {{ item['abstract'] }} [<a href="{{ item['page'] }}" title="{{ item['date']}}">read more</a>]
                </p>
              </section>
            </div>
          {% endfor %}
        </div>
      </article>
    </div>
  </div>
{% endblock body_content %}
