{% extends "common/base.j2" %}
{% block body_content %}
  <div class="container-fluid">
    <div class="container text-center">
      <h1>News</h1>
    </div>
  </div>
  <div class="container">
    <article>
      <section>
        <p>
          News posts published by GNUnet about changes related to
          GNUnet, releases, and events.
        </p>
        <!-- TODO: This list should be generated -->
        <ul>
          {% for item in newsdata %}
            <li><a href='{{ item["page"] }}' title='{{ item["date"]}}'>{{ item["title"] }}</a></li>
          {% endfor %}
        </ul>
        <!--
          <li><a href="2019-0.11.8.html" title="2019-10-30">GNUnet 0.11.8</a></li>
        <li><a href="2019-0.11.7.html" title="2019-10-27">GNUnet 0.11.7</a></li>
        <li><a href="2019-10-ICANNPanel.html" title="2019-10-20">ICANN Panel</a></li>
        <li><a href="2019-10-GNSSpec1.html" title="2019-10-04">GNS Spec 1</a></li>
        <li><a href="2019-0.11.6.html" title="2019-07-24">GNUnet 0.11.6</a></li>
        <li><a href="2019-07-GHM_Aug_2019.html" title="2019-07-17">GNUnet Hacker Meeting 2019</a></li>
        <li><a href="2019-06-DSTJ.html" title="2019-06-28">DSTJ</a></li>
        <li><a href="2019-06.html" title="2019-06-01">2019-06</a></li>
        <li><a href="2019-0.11.5.html" title="2019-06-05">GNUnet 0.11.5</a></li>
        <li><a href="2019-0.11.4.html" title="2019-05-12">GNUnet 0.11.4</a></li>
        <li><a href="2019-0.11.3.html" title="2019-04-07">GNUnet 0.11.3</a></li>
        <li><a href="2019-0.11.2.html" title="2019-04-04">GNUnet 0.11.2</a></li>
        <li><a href="2019-0.11.1.html" title="2019-04-03">GNUnet 0.11.1</a></li>
        <li><a href="2019-0.11.0.html" title="2019-02-28">GNUnet 0.11.0</a></li>
        <li><a href="2019-02.html" title="2019-02-01">2019-02</a></li>
        -->
      </section>
    </article>
  </div>
{% endblock body_content %}
