{% extends "common/base.j2" %}
{% block body_content %}
  <div class="container-fluid">
    <div class="container text-center">
      <h1>News</h1>
    </div>
  </div>
  <div class="container">
    <article>
      <section>
        <!-- TODO: This list should be generated -->
        <ul>
          <li><a href="2019-0.11.8.html" title="0.11.8">0.11.8</a></li>
          <li><a href="2019-0.11.7.html" title="0.11.7">0.11.7</a></li>
          <li><a href="2019-10-ICANNPanel.html" title="ICANN Panel">ICANN Panel</a></li>
          <li><a href="2019-10-GNSSpec1.html" title="GNS Spec 1">GNS Spec 1</a></li>
          <li><a href="2019-0.11.6.html" title="0.11.6">0.11.6</a></li>
          <li><a href="2019-07-GHM_Aug_2019.html" title="GNUnet Hacker Meeting">GNUnet Hacker Meeting 2019</a></li>
          <li><a href="2019-06-DSTJ.html" title="DSTJ">DSTJ</a></li>
          <li><a href="2019-06.html" title="2019-06">2019-06</a></li>
          <li><a href="2019-0.11.5.html" title="0.11.5">0.11.5</a></li>
          <li><a href="2019-0.11.4.html" title="0.11.4">0.11.4</a></li>
          <li><a href="2019-0.11.3.html" title="0.11.3">0.11.3</a></li>
          <li><a href="2019-0.11.2.html" title="0.11.2">0.11.2</a></li>
          <li><a href="2019-0.11.1.html" title="0.11.1">0.11.1</a></li>
          <li><a href="2019-0.11.0.html" title="0.11.0">0.11.0</a></li>
          <li><a href="2019-02.html" title="2019-02">2019-02</a></li>
        </ul>
      </section>
    </article>
  </div>
{% endblock body_content %}
