{% macro newspreview(name) -%}
  <section class="item-preview">
    <header>
      <h3>{{ name['title']|e }}</h3>
      <p class="item-date">
        {{ name['date'] }}
      </p>
    </header>
    <p class="item-abstract">
      {{ name['abstract'] }} [<a href="{% if kwargs|length > 0 %}{{ kwargs['prefix'] }}{% endif %}{{ name['page'] }}" title="{{ name['date']}}">{{ _("read more") }}</a>]
    </p>
  </section>
{% endmacro -%}
