<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ _("GNUnet") }}</title>
    <meta name="description" content="{{ _('GNU\'s framework for secure p2p networking') }}" />
    {% include "common/header.j2.inc" %}
    {% block head_content %}{% endblock %}
  </head>
  <body id="mybody">
    {% include "common/navigation.j2.inc" %}
    <div id="body_content" class="bg-near-white">
      <!-- jump to top, TODO: the link does not cover all of the button -->
      <a href="#" id="jump-top" role="button">
        <i class="fas fa-chevron-up"></i>
      </a>
      {% block body_content %}{% endblock %}
    </div>
    {% include "common/footer.j2.inc" %}
  </body>
</html>
