      <div class="footer">
        <p>&copy; <a href="https://gnunet.org/ev">GNUnet e.V.</a> and Inria 2015, 2016</p>
        <p>{{ _("This page was created using <a href='https://www.gnu.org/'>Free Software</a> only.") }}</p>
      </div>
    <script type="text/javascript">//<![CDATA[
      activate_menu();
    //]]></script>
