{% extends "common/news.j2" %}
{% block body_content %}
  <h1>Special-Use Domain Names of Peer-to-Peer Name Systems</h1>
<p>
  <b>This is an imported news item from the old Drupal GNUnet homepage.</b>
</p>
<p>
We just submitted our draft for
<a href="https://web.archive.org/web/20140901155643/https://datatracker.ietf.org/doc/draft-grothoff-iesg-special-use-p2p-names/">Special-Use Domain Names of Peer-to-Peer Name Systems</a> to IETF.
The intention is to reserve the TLDs ".exit", ".i2p", ".gnu",
".onion" and ".zkey" for use by the GNUnet, I2P and Tor peer-to-peer overlay
networks.
</p>
{% endblock body_content %}
