{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNUnet 0.12.1 released</h1>
<p>
  We are pleased to announce the release of GNUnet 0.12.1.
<br>
  This is a very minor release. It largely fixes one function that is
  needed by GNU Taler 0.6.0.  Please read the release notes
  for GNUnet 0.12.0, as they still apply. Updating is only recommended
  for those using GNUnet in combination with GNU Taler.
</p>
<h4>Download links</h4>
<ul>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.1.tar.gz">http://ftpmirror.gnu.org/gnunet/gnunet-0.12.1.tar.gz</a></li>
  <li><a href="http://ftpmirror.gnu.org/gnunet/gnunet-0.12.1.tar.gz.sig">http://ftpmirror.gnu.org/gnunet/gnunet-0.12.1.tar.gz.sig</a></li>
</ul>
<p>
  The GPG key used to sign is: <tt>D8423BCB326C7907033929C7939E6BE1E29FC3CC</tt>
</p>
<p>
  Note that due to mirror synchronization, not all links might be functional
  early after the release. For direct access try
  <a href="http://ftp.gnu.org/gnu/gnunet/">http://ftp.gnu.org/gnu/gnunet/</a>
</p>

{% endblock body_content %}
