{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNS Technical Specification Milestone 3/4</h1>
<p>
  We are happy to announce the completion of the third milestone for the GNS
  Specification. The third milestone consists of documenting the GNS zone
  revocation process. As part of this, we have reworked the proof-of-work
  algorithms in GNUnet also used for GNS revocations.<br>
  The (protocol breaking) changes will be released as part of GNUnet 0.13.0.
  The specification document <b>LSD001</b> can be found at:
</p>
<ul>
  <li>Git: <a href="git://gnunet.org/lsd0001.git">LSD001</a></li>
  <li><a href="https://lsd.gnunet.org/lsd0001/draft-schanzen-gns.txt">Link to TXT version</a></li>
  <li><a href="https://lsd.gnunet.org/lsd0001/draft-schanzen-gns.html">Link to HTML version</a></li>
</ul>
<p>
  In preparation for the fourth and last milestone, we have started the
  <a href="https://mailarchive.ietf.org/arch/msg/secdispatch/Kj8zXoQssiFLp8bM5l5n1OtXt7s/">IETF process to find a working group</a> and expect to present our
  work initially at <a href="https://ietf.org/how/meetings/108/">IETF 108</a>.
</p>
<p>
  This work is generously funded by <a href="https://nlnet.nl">NLnet</a> as part of their <a href="https://nlnet.nl/project/GNS/">Search and discovery fund</a>.
</p>
{% endblock body_content %}
