{% extends "common/news.j2" %}
{% block body_content %}
  <h1>Online GNUnet Hacker Meeting in June 2020</h1>
  <p>
    We are happy to announce that we will have a GNUnet
    Hacker Meeting from 17-21 of June 2020 taking place online. For more information see <a href="https://md.hasi.it/s/gnunet">here</a>.
  </p>
{% endblock body_content %}
