{% extends "common/news.j2" %}
{% block body_content %}
  <h1>GNS Technical Specification Call for Reviews</h1>
<p>
  We are happy to announce that our GNS specification is currently under review
  by the IETF Independent Stream Editor (ISE).
  We have already received feedback from the ISE and made significant,
  mostly editorial changes to the specification.
</p>
<p>
  We are inviting anyone reading this to review and provide feedback to the draft
  and send it to <a href="mailto:gnunet-developers@gnu.org?subject=LSD0001">gnunet-developers@gnu.org</a>.
  Even better, you could write an implementation in your favourite programming
  language.
</p>
<p>
  In other news, we are currently also working on the specification of the
  <a href="https://lsd.gnunet.org/lsd0004">GNUnet DHT</a>.
</p>
<ul>
  <li>IETF: <a href="https://datatracker.ietf.org/doc/draft-schanzen-gns/">Datatracker</a></li>
  <li><a href="https://lsd.gnunet.org/lsd0001/draft-schanzen-gns.txt">Link to TXT version</a></li>
  <li><a href="https://lsd.gnunet.org/lsd0001/draft-schanzen-gns.html">Link to HTML version</a></li>
</ul>
<p>
  This work was generously funded by <a href="https://nlnet.nl">NLnet</a> as part of their <a href="https://nlnet.nl/project/GNS/">Search and discovery fund</a>.
</p>
{% endblock body_content %}
